[2019-08-07 13:45] claudiubelu opened #5 "kubectl port-forward can hang"
There is a scenario in which ``kubectl port-forward`` will not behave as expected, which also leads to the failure of the following tests:

    [sig-cli] Kubectl Port forwarding [k8s.io] With a server listening on localhost [k8s.io] that expects NO client request should support a client that connects, sends DATA, and disconnects
    [sig-cli] Kubectl Port forwarding [k8s.io] With a server listenin

[2019-08-19 19:11] benmoss commented on #5
I tried using your pause image (`claudiubelu/wincat:1.0`) and all four tests passed on my cluster.

[2019-08-19 19:13] bclau commented on #5
Can you describe your cluster?  (Kubernetes version, branch from which the tests were built from, windows node version, windows docker version)

[2019-08-19 19:33] benmoss commented on #5
Sorry, I spoke too soon when I said it all passed. Let me look into this further.

[2019-08-19 21:13] benmoss commented on #5
Okay, sorry for the mixup. Your pause image fails for me too, but I built my own image at `benmoss/wincat:latest` that passes all 8 tests. Can you give that a shot and see if it works on your cluster too?

I have a hunch that if you built your docker image using the Dockerfile in this repo that you would have actually gotten a `wincat.exe` from the master branch rather than from my PR (before it w

[2019-08-28 18:27] neolit123 opened #8 "add 1.16 folder for the kubeadm/install powershell scripts"
[this PR](https://github.com/kubernetes-sigs/sig-windows-tools/pull/1) added scripts for 1.15, but we probably should have 1.16 too if we are targeting 1.16 for the alpha:
https://github.com/kubernetes-sigs/sig-windows-tools/tree/master/kubeadm/v1.15.0

@daschott @ksubrmnn

/kind feature
/priority important-soon

[2019-08-28 18:28] neolit123 commented on #8
xref https://github.com/kubernetes/kubeadm/issues/1393

[2019-09-23 22:03] warnersean opened #11 "GetApiServerEndpoint assumes single master"
I am currently running my cluster with a virtual IP (172.20.2.1) behind an HAProxy with three master modes (172.20.1.85, 172.20.1.88, 172.20.1.90).

When running the join script, the windows node fails to join the cluster.
This appears to be due to GetAPIServerEndpoint returning the full master list, with an appended port (172.20.1.85 172.20.1.88 172.20.1.90:6443) rather than either choosing one o

[2019-09-23 22:15] warnersean commented on #11
/assign @warnersean

[2019-09-23 22:16] warnersean commented on #11
#12

[2019-09-24 13:23] #11 closed

[2019-09-24 13:23] warnersean commented on #11
Fixed by #12

[2019-09-25 17:06] fabriziopandini opened #14 "Add test signal for kubeadm install"
As a kubeadm maintainers team, we would like to have a signal wrt bootstrap windows nodes with kubeadm in the kubeadm [test grid](https://testgrid.k8s.io/sig-cluster-lifecycle-kubeadm)

There are logistic to be addressed, but this issue aims to start a joint effort for getting this in place hopefully during the 1.17 cycle

/sig cluster-lifecycle
/cc @neolit123

[2019-09-25 17:09] neolit123 commented on #14
/assign @PatrickLang @michmike @ksubrmnn @neolit123

[2019-10-08 22:55] ksubrmnn opened #18 "KubeCluster 1.15 Scripts fail to join with one master"
After PR #12 the script fails to join a cluster with a single master.

This is because in GetAPIServerEndpoint, $i.subsets.addresses.ip is not an array if there is one master. Because of this, the API server endpoint is returned as 1:6443 where 1 represents the first letter of the IP address. So we get the first character of the IP instead of the first IP.

[2019-10-08 22:55] ksubrmnn commented on #18
/assign @warnersean
ping @michmike

[2019-10-08 22:57] ksubrmnn commented on #18
@PatrickLang this is a good case to get started on using kubeadm in testing

[2019-10-14 19:19] machgo opened #21 "c:\etc\kube-flanel\net-conf.json not updated"
During the installtion with the script, flannel gets installed and a net-conf.json is generated under C:\ProgramData\Kubernetes.
Example content of net-conf.json under C:\ProgramData\Kubernetes:
[code]

But this updated configuration doesn't get copied to the c:\etc\kube-flannel\ folder, which means that the flanneld service is using an outdated configuration.
Example content of net-conf.json unde

[2019-10-19 15:35] neolit123 commented on #21
/kind bug
/priority important-longterm

[2019-10-21 06:45] #21 closed

[2019-10-30 13:52] neolit123 opened #23 "stop using the cluster admin.conf for "flannel --kubeconfig""
when workers are joining the cluster we use the admin.conf the "kubeadm init" created and the user copied under "~/.kube".

https://github.com/kubernetes-sigs/sig-windows-tools/blob/78f258a7eda6f06d417733b75a087c61998e15f7/kubeadm/KubeClusterHelper.psm1#L24-L29

giving workers admin rights is a security risk.
in my opinion we cannot graduate the kubeadm/windows feature to beta, unless this is reso

[2019-10-30 13:54] neolit123 opened #24 "support "kubeadm upgrade" on Windows worker nodes"
requirement for beta graduation.

/assign
/kind feature
/priority important-longterm

[2019-11-05 17:46] benmoss opened #26 "Docs are out of date"
I think ever since #16 was merged and changed around the directory structure the docs at https://kubernetes.io/docs/setup/production-environment/windows/user-guide-windows-nodes/#preparing-a-windows-node are now no longer correct.

[2019-11-07 23:50] kellybirr opened #27 "Auto-detect Windows version and use matching containers"
Windows server containers need to be version matched to the host OS version when using the default "process" isolation.  It would be more convenient if "KubeCluster.ps1" would check the windows version and automatically use the matching tag for the "Pause", "NanoServer" and "ServerCore" containers. This would be less error prone for new users than the current method of specifying in a config file.

[2019-11-07 23:54] kellybirr opened #28 "KubeCluster.ps1 should ensure Docker service is running."
Twice, if forgotten to check that the docker service was actually started before executing "Kubecluster.ps1 ... -join".  This causes the script to fail and you have to exit PS and restart before you can run it again.

I propose adding `Start-Service Docker` to the `-join` script to ensure the service is running before proceeding.

It may also be good to add `Set-Service -Name Docker -StartupType A

[2019-11-07 23:55] kellybirr commented on #28
As with my other recommendation.  I'm happy to do the work and submit a PR.  I just wanted to start with an issue and get community feedback.

[2019-11-08 01:25] PatrickLang commented on #27
I think this makes sense, would welcome a PR. We do need to keep these available if someone wants to override them in a config though. Windows Server Insider builds are a bit harder to deal with and usually need some manual paths chosen.

KubeCluster.ps1 has a section that fills in defaults that are missing. That's probably the best place to put it. It will then write it to a config file so all pa

[2019-11-08 01:27] PatrickLang commented on #27
Here's a similar logic https://github.com/Azure/aks-engine/blob/7ab155567b279d4fad2fc39e50447b1ccfdc8261/parts/k8s/windowskubeletfunc.ps1#L149

[2019-11-08 01:31] PatrickLang commented on #28
sure, improvements are always welcome! One thing that would be helpful though is to make sure it's in a section that's checking `$Global:ClusterConfiguration.Cri.Name` since I'm working on ContainerD installation steps for these scripts https://github.com/kubernetes-sigs/sig-windows-tools/compare/master...PatrickLang:kubeadm-containerd (work in progress, not complete yet)

[2019-11-08 03:00] kellybirr commented on #27
Perfect... I actually had to roll my own "pause" container in my cluster build this week.  There isn't currently one for 19.03 or 19.09.  That link gives me a good example to start from.  I'll work on it over the next couple weeks as I have time, while traveling.

[2019-11-08 03:02] kellybirr commented on #28
That's a great point.  I sometimes forget that Kubernetes works with container frameworks other than Docker.  Don't want the code to make bad assumptions.  I'll review your branch and start from there.

[2019-11-08 21:31] a4099181 commented on #28
Please see #17. Docker is now registered as a dependency for kubelet service.

[2019-11-11 14:06] benmoss commented on #5
@bclau Is this still an issue for you?

[2019-11-13 18:30] benmoss commented on #5
/close

[2019-11-13 22:05] neolit123 commented on #23
if @benmoss ' workaround for using deamonsets goes live, this is no longer needed:
https://github.com/benmoss/kubeadm-windows

[2019-11-20 14:58] guidjome opened #29 "KubeCluster.ps1 : Item has already been added. Key in dictionary 'Kube'"
Hello,

I have an issue when i launch the KubeCluster.ps1. I've the error message bellow. I don't understand what is the key mentionned by the error message.

Can you help me ?

At D:\sig-windows-tools-master\kubeadm\KubeCluster.ps1:311 char:9

[2019-11-21 15:05] adelina-t commented on #29
So, it is possible you have been running the script multiple times? Meaning, you ran it once, hit an error, ran it again and got this?
The error, I think originates here: https://github.com/kubernetes-sigs/sig-windows-tools/blob/1113abc0c516311f3bb650f9907f4a71f9f08141/kubeadm/KubeClusterHelper.psm1#L1195

It tries to set something in $Global:Configuration, but the item already exists. The script

[2019-12-01 20:03] kellybirr commented on #28
@PatrickLang, looking at your WiP, I think that something as simple as adding
`WaitForServiceRunningState -ServiceName $depends -TimeoutSeconds 30`
in `InstallKubelet` between where your `$depends = switch ($Global:Cri) {` statement and the `New-Service -Name "kubelet"` statement (~ line 938), would ensure that the dependecy is either running or will start, before installing Kubelet.  This is real

[2019-12-04 15:54] benmoss commented on #29
Yeah, I was hitting this same issue and just did `$Global:Configuration.Remove("Kube")`

[2019-12-05 14:24] vasily-codefresh commented on #5
@benmoss I believe, I can reproduce it here. Windows 1903, Kubernetes client 1.16.2.

from time to time `kubectl port-forward` just hangs and the only way to get it working is to restart it.

please let me know if I can provide additional details.

[2019-12-05 16:27] benmoss commented on #5
@vasily-codefresh what pause image are you using? Does it hang immediately after you start it or only after it's been running/proxying for a while?

[2019-12-05 17:08] vasily-codefresh commented on #5
@benmoss I actually experience this will all images I use. usually this happens after some time, but it may vary from several seconds to several minutes.

I'm pretty sure it's Windows-specific, because on Linux same port-forward works without hanging.

[2019-12-05 17:50] benmoss commented on #5
I mean the pause image, not the pod container image. If you go on your Windows node and do `docker images` you'll likely have one like `mcr.microsoft.com/k8s/core/pause:1.2.0`. I just want to try to confirm which version of `wincat` you are using.

[2019-12-05 20:32] vasily-codefresh commented on #5
@benmoss hm, to be clear I have Windows locally, not remotely. no any `pause` image on my workstation. remote side is a cloud k8s installation (on top of Linux), so I don't have direct access to Docker, I believe.

if there's something else I can look up to help you spotting this leopard, give me a note. thanks.

[2019-12-06 23:04] vasily-codefresh commented on #5
heh, for me it was Windows' firewall. I explicitly whitelisted `kubectl` and everything seems fine yet (or at least much better than it was).

@benmoss thanks for your patience!

[2019-12-12 09:38] HugoRh opened #32 "Join error NodeIP not found"
Hi,

I'm struggling with adding a windows node to my cluster.
I'm following the procedure on https://kubernetes.io/docs/setup/production-environment/windows/user-guide-windows-nodes/

I'm running windows server 2019 (1809 build:17763.805) on a virtual machine , I plan on using vxlan ( and already patched my cluster accordingly).

Here's my Kubeclustervxlan.json

[code]

The install script does not

[2019-12-13 15:49] #26 closed

[2019-12-16 04:00] HugoRh commented on #32
Hi,

I decided to try the Microsoft way:
https://docs.microsoft.com/en-us/virtualization/windowscontainers/kubernetes/joining-windows-workers?tabs=ManagementIP

It's also interesting has it is less automation and more explanation.

As I said earlier I'm far from being good with Windows or Powershell :)

So, my issue happens because Get-NetIPAddress does not get all expected info, it does impact th

[2019-12-24 18:12] neolit123 commented on #14
/remove-lifecycle stale
There is a chance we can use cluster api aws for this.

[2020-01-05 18:08] neolit123 commented on #24
i did experimentation for this feature and it works fine.

here was my process:

Linux node:
- download kubelet and kubeadm v1.16.x
- create a 1.16.x Linux control-plane node using "kubeadm init"

Windows node:
- run the kubelet
- join the Windows node "kubeadm join" and the token the Linux node generated
- start kube-proxy.exe
- start flanneld.exe in "host-gw" mode

make sure the cluster nodes ar

[2020-01-06 18:15] neolit123 commented on #8
/close
there is a 1.16 folder.

[2020-01-06 18:15] #8 closed

[2020-02-05 19:51] #18 closed

[2020-02-06 22:01] kellybirr commented on #27
Still looking at this, just moving slowly. I will get a PR in if we can keep the issue open a while longer.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-07 00:29] michmike commented on #24
@benmoss, is this something you have accounted for in this release cycle?

[2020-02-11 22:40] neolit123 commented on #23
/remove-lifecycle stale

[2020-02-28 23:55] #28 closed

[2020-03-02 15:29] neolit123 commented on #24
with the changes that merged from @benmoss . upgrades do not really need extra scripts and the steps can be just documented.

/close

[2020-03-02 15:29] #24 closed

[2020-03-02 16:45] benmoss opened #36 "Connections to 169.254.169.254 are blocked after flannel/HNS initialization"
Hitting the same issue as https://github.com/Microsoft/hcsshim/issues/299

HNS gets initialized right now in our flow when the Flannel pod runs. We need to explore options for manually re-adding a route to 169.254.169.254 ala [this code](https://github.com/GoogleCloudPlatform/compute-image-windows/blob/22bd7e2701da9dc6bd931711cbb39c36a1d81df1/sysprep/instance_setup.ps1#L126) after HNS initializati

[2020-03-02 17:08] benmoss opened #37 "Flannel fails to watch subnet leases for other nodes"
Related to #36

Since Flannel is the one making the first HNS network right now, the network reconfiguration that happens is breaking the Flannel processes' ability to connect to Kubernetes.

You see in the flannel pods logs regular startup logging and then a bunch of lines like:

[code]

I think if we fix #36 by initializing HNS in the PrepareNode script then this might be solved too. The downsid

[2020-03-06 21:35] #37 closed

[2020-03-06 21:35] #36 closed

[2020-03-09 00:03] #27 closed

[2020-03-09 23:03] gimlichael opened #40 "vxlan keeps failing when trying to join network"
So, after a whole weekend of trial and error with the "official" guide from Microsoft (https://docs.microsoft.com/en-us/virtualization/windowscontainers/kubernetes/network-topologies) I decided (more or less by coincidence) to give this a try (refereed from https://kubernetes.io/docs/setup/production-environment/windows/user-guide-windows-nodes/).

After my third re-install (which should have been

[2020-03-10 23:36] gimlichael commented on #40
I gave it an extra shot today, and a search somehow got me to this issue on flannel: https://github.com/coreos/flannel/issues/1178

It seems to me, that the reason for my errors is a result of everything going so fast, that documentation is not kept up to date.

For instance, in the lastest kube-flannel.yaml, name is cbr0.
However, in the script, it is vxlan0.

Changing this be simply re-applying

[2020-03-11 00:56] gimlichael commented on #40
There is most defiantly a bug somewhere .. sometime it takes 5+ retries to do the -install, -join and -reset (repeat), before the node is actually joined.

Getting tired - just wanted to keep you posted ..

[2020-03-11 01:34] gimlichael commented on #40
I really don't know what is up and down .. sometime it works .. sometime not .. sometime some of the nodes .. sometimes others ..

Here is an error from one of the nodes:

[code]

[2020-03-11 01:54] gimlichael commented on #40
After a restart of the 3 worker nodes:

[code]

[code]

[code]

[2020-03-12 21:43] neolit123 commented on #14
/close
test signal is in place:
https://k8s-testgrid.appspot.com/sig-windows#kubeadm-windows-gcp-k8s-stable

making it green is WIP.

[2020-03-12 21:43] #14 closed

[2020-03-13 08:01] fabriziopandini commented on #14
great! thanks!

[2020-03-16 13:25] artisticcheese opened #50 "Please update instructions for servercore installations"
As part of installation for environment variables to take effect it's advised to start a new powershell session to perform `JOIN`. Issue is that if you are in servercore console you can not create a new session easily. The only option is either log off or reboot. Can description be modified to note that logoff is required for server core installs.

[2020-03-16 15:23] benmoss opened #52 "Windows nodes do not come back after reboot"
We disabled automatic reboots for our e2e clusters in #51, but we should make it so even if a machine reboots that kubelet / docker / wins all are set to automatically start so that a machine can be rebooted.

[2020-03-16 15:25] neolit123 commented on #52
/priority important-soon
/kind bug

[2020-03-16 15:33] benmoss commented on #23
As part of the move to the new kubeadm on Windows approach with 1.18 we are closing issues related to the previous alpha.

/close

[2020-03-16 15:33] #23 closed

[2020-03-16 15:33] benmoss commented on #29
As part of the move to the new kubeadm on Windows approach with 1.18 we are closing issues related to the previous alpha.
/close

[2020-03-16 15:33] #29 closed

[2020-03-16 15:33] benmoss commented on #32
As part of the move to the new kubeadm on Windows approach with 1.18 we are closing issues related to the previous alpha.
/close

[2020-03-16 15:33] #32 closed

[2020-03-16 15:34] benmoss commented on #40
As part of the move to the new kubeadm on Windows approach with 1.18 we are closing issues related to the previous alpha.
/close

[2020-03-16 15:34] #40 closed

[2020-03-16 15:37] neolit123 commented on #50
/priority important-longterm
/kind documentation

[2020-03-16 15:38] benmoss commented on #50
hey @artisticcheese, we're removing these scripts and updating the documentation. A preview of the documentation is available here: https://deploy-preview-19217--kubernetes-io-vnext-staging.netlify.com/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/

[2020-03-16 15:42] artisticcheese commented on #50
Wow, new way to onboard (via `kubadm` tool) is awesome.  Is it something can be done with 17.4 or have to use 18?

[2020-03-16 16:06] benmoss commented on #50
It will work with versions >= 1.17.0

[2020-03-16 16:12] artisticcheese commented on #50
Why also curl is used for downloading binaries instead of powershell since `curl` does not come by default with Windows install. Should have been `Invoke-Webrequest -Outfile`

[2020-03-16 18:43] gimlichael commented on #40
Sounds good; I am actually pursuing this now - however, my deamonsets are not working and the latest 0.12.0r2 Flannel image is raising errors. Do you have some reading material to follow?

Currently I am running 1.17.3.

Thanks.

[2020-03-16 19:43] neolit123 commented on #50
@artisticcheese
previously @benmoss mentioned that nowadays `curl` is installed on Windows Server, yet i'm not sure if all versions have it.

what version are you seeing `curl` missing in?

[2020-03-16 20:10] artisticcheese commented on #50
Yes, to my surprise I found that curl.exe is now part of SAC channel and Windows 2019. I was unaware of it until today since it's not Microsoft binaries and strange to see them part of OS deployment. NVM.

[2020-03-16 20:38] benmoss commented on #50
Yeah, it's been part of Windows since 1803

[2020-03-16 20:39] benmoss commented on #40
Docs are available here: https://deploy-preview-19217--kubernetes-io-vnext-staging.netlify.com/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/

[2020-03-16 23:44] gimlichael commented on #40
Thank you for the link; i can see I worked most things out yesterday by browsing this tool. That said, even following the new documentation, I am experiencing errors from both DeamonSet.

I will, until guided otherwise, provide the error information here (hopefully it can help you guys out):

FLANNEL (sigwindowstools/flannel:0.12.0-rc2)

`Error: failed to start container "kube-flannel": Error resp

[2020-03-17 13:14] benmoss commented on #40
Are you running wins? You can't just run the DaemonSets without wins as well.

[2020-03-17 13:33] gimlichael commented on #40
Basically I followed the document and started with the preparenode PowerShell. It looks like it is doing some wins setup using rancher. Anything I overlooked?

[2020-03-17 15:23] benmoss commented on #40
Hmm, I don't know what file it would be talking about then. I thought it was the HostPath volume mount.

[2020-03-17 19:12] neolit123 opened #56 "kubeadm-e2e: investigate failing tests"
EDIT: we had discussions on slack:
https://kubernetes.slack.com/archives/C0SJ4AFB7/p1584740410152900

and the network failures are apparently caused by a Windows bug when executing 32bit apps on 64bit images that have PATCH level version differences with the host, that should be resolved once we have the latest agnhost image at the `e2eteam` account:
https://hub.docker.com/u/e2eteam

---------

la

[2020-03-19 13:26] giskou commented on #52
Windows workers that reboot seem to have kubelet / docker / wins running but flannel fails.
A docker nat network is created [here](https://github.com/kubernetes-sigs/sig-windows-tools/blob/master/kubeadm/scripts/PrepareNode.ps1#L56) and according to the [official documentation](https://docs.microsoft.com/en-us/virtualization/windowscontainers/container-networking/network-drivers-topologies) that n

[2020-03-19 17:12] claudiubelu commented on #56
It should. It's been printing Paused since a while now (see agnhost/pause changes): https://github.com/kubernetes/kubernetes/pull/79142
But it depends. How new are the tests you're running / what agnhost version are the tests using?

I've actually created a new test that specifically targets the packet fragmentation issue, which you should take a look at / run: https://github.com/kubernetes/kubern

[2020-03-19 17:15] neolit123 commented on #56
But it depends. How new are the tests you're running / what agnhost version are the tests using?

the `[k8s.io] Docker Containers` and `[sig-storage] HostPath ` ... appear to be flakes.

https://k8s-testgrid.appspot.com/sig-windows#kubeadm-windows-gcp-k8s-stable

i think these two can be fixed if we bump the poll timeout from 3 seconds:
[code]

:+1:

[2020-03-19 18:10] benmoss commented on #52
That's pretty frustrating, I don't think there's a workaround right now

[2020-03-20 17:03] vidushv opened #58 "Error when calling kubecluster.ps1 for overlay connection."
I'm running the command:  `.\kubecluster.ps1 -join -configFile .\kubeclustervxlan.json`

Error:
[code]

This produces occasionally, sometimes running reset and then attempting to join again works so the issue is not very reproducible. It causes kube-proxy to not start.

SourceVip.json:
[code]

[2020-03-20 17:31] neolit123 commented on #58
hi ` kubecluster.ps1` is deprecated and will be removed perhaps shortly after the 1.18 release.
we are now moving to use https://github.com/kubernetes-sigs/sig-windows-tools/blob/master/kubeadm/scripts/PrepareNode.ps1

but the docs for that are not officially released yet:
https://github.com/kubernetes/website/tree/dev-1.18/content/en/docs/tasks/administer-cluster/kubeadm
see adding/upgrading-wind

[2020-03-20 17:31] neolit123 commented on #58
/triage support

[2020-03-26 20:55] cretz commented on #5
I am experiencing this as well and my kubectl is open via windows firewall. My issue was access over localhost ipv6 instead of just ipv4. Once I set `--address 127.0.0.1` which forced my browser to use that for `localhost`, there were no more issues.

[2020-03-27 00:04] artisticcheese opened #61 "Windows nodes failed to join a cluster with `network plugin is not ready: cni config uninitialized`"
Hello,

Followed instructions down to the t and windows 1909 host fails to join 1.18.0. I followed instructions from here (https://deploy-preview-19217--kubernetes-io-vnext-staging.netlify.com/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/)
Part of Kubelet log is below
[code]

[2020-03-27 00:19] neolit123 commented on #61
hi,

- kubeadm did not complain about anything, i assume?
- can you show the output of `kubectl get po -A`?
- for any pods that are not running can you do a `kubectl describe -n kube-system po ...`?

/assign @benmoss
/triage needs-information

[2020-03-27 00:24] neolit123 opened #62 "cleanup scripts for the kubeadm Alpha support"
with the release of Beta support for kubeadm we should clean the following folders/files:

[code]

/priority important-longterm
/kind cleanup
/help

[2020-03-27 00:36] artisticcheese commented on #61
Kubeadm did not complaint about anythiong
[code]
[code]

[code]

[2020-03-27 00:49] neolit123 commented on #61
thanks for the logs

it seems the culprit here is that Windows flannel Pod is not starting after a pull.

this error is peculiar. wondering where "_" is coming from.

- can you show the contents of `docker images` on your windows node?
- also what are the contents of `docker info`?

[2020-03-27 00:51] artisticcheese commented on #61
[code]
PS C:\k> docker info
Client:
 Debug Mode: false
 Plugins:
  cluster: Manage Docker clusters (Docker Inc., v1.2.0)

Server:
 Containers: 10
  Running: 0
  Paused: 0
  Stopped: 10
 Images: 4
 Server Version: 19.03.5
 Storage Driver: windowsfilter
  Windows:
 Logging Driver: json-file
 Plugins:
  Volume: local
  Network: ics internal l2bridge l2tunnel nat null overlay private transparent
  Log

[2020-03-27 00:54] neolit123 commented on #61
i don't see the flannel image `sigwindowstools/flannel:0.12.0`.

can you please pull it using `docker pull`, ``kubectl delete po -n kube-system ...` the problem flannel pod and see what happens?

[2020-03-27 01:11] artisticcheese commented on #61
Done. Still the same issue
[code]
[code]

[2020-03-27 01:16] neolit123 commented on #61
try pulling `sigwindowstools/kube-proxy:v1.18.0` too.
i'm confused why these images are not being pulled.

[2020-03-27 01:18] artisticcheese commented on #61
Done, still the same issue with kube-proxy as well

[code]

[2020-03-27 01:21] artisticcheese commented on #61
My pause image is `1.3.0`. That the only change I made compared to instructions since `1.2.0` is not having image for 1909 Windows

[2020-03-27 01:23] neolit123 commented on #61
our script does start the kubelet with :
`--pod-infra-container-image=`"mcr.microsoft.com/k8s/core/pause:1.2.0`"`

https://github.com/kubernetes-sigs/sig-windows-tools/blob/master/kubeadm/scripts/PrepareNode.ps1#L70

but this 1.2.0 is supposed to be 1909 too. @benmoss isn't that the case?

[2020-03-27 01:24] artisticcheese commented on #61
No, 1.2.0 is not supported on 1909. Here is details. https://github.com/kubernetes/kubernetes/issues/80032#issuecomment-603536614

[2020-03-27 01:29] neolit123 commented on #61
our e2e testing signal that runs here:
https://k8s-testgrid.appspot.com/sig-windows#kubeadm-windows-gcp-k8s-stable

is using GCE VMs that are `windows-2019-core-for-containers` and pause there uses the `1.2.0` from the script. maybe the `1.3.0` pod-sandbox is somehow broken. i have no idea.

[2020-03-27 12:51] artisticcheese commented on #61
I switched back to 1.2.0 pause image and it still does not work

[2020-03-27 13:45] benmoss commented on #61
Ah yeah we aren't building 1909 images for flannel and kube-proxy, it's not the pause image that's the problem

[2020-03-27 13:46] benmoss commented on #5
/close

[2020-03-27 13:46] #5 closed

[2020-03-27 13:50] artisticcheese commented on #61
So new instructions will not work with 1909 images, previous workflow (without kubeadm) works fine on 1909

[2020-03-27 14:04] neolit123 commented on #61
@benmoss we should clarify what is supported.

[2020-03-27 14:54] artisticcheese commented on #61
How pause image is being built which does in fact support 1909?

[2020-03-27 14:58] neolit123 commented on #61
i think MS are building it and not the the k8s project.

[2020-03-27 15:03] artisticcheese commented on #61
I imagined you guys are not very Microsofty since using `nssm.exe` to register services raises some eyebrows (`the Non-Sucking Service Manager`) and having all instructions relevant to installation of Windows components using `curl` commands etc instead of `Invoke-WebRequest`. Anyway, I don't really understand how Windows on Kubernetes can move fast forward if essentially none of SAC channel hosts

[2020-03-27 15:17] neolit123 commented on #61
i personally never found the need to use nssm.exe, but curl is not officially included in MS distros.

this is a major problem.

we need a table of what is supported, what we are building images for and what we want to automatically build images for in the future.

if we don't have the infrastructure to build for certain Windows version, we need to instruct the users on how to build their own imag

[2020-03-29 20:31] butterfly2sea opened #63 "after join the windows node ,container of flannel can't start because of name conflict"
After following the [guid for join window node](https://deploy-preview-19217--kubernetes-io-vnext-staging.netlify.com/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/) ,I ran the prepare node script and then joined the `kubeadm join `, I made it works on my cluster. But the windows nodes is always not ready.
According to the results of running `kubectl describe node nodename`, network p

[2020-03-29 20:41] neolit123 commented on #61
/kind bug documentation
/priority important-soon
/remove-triage needs-information

[2020-03-29 20:42] neolit123 commented on #63
what is the version of the Windows node host?
see this comment:
https://github.com/kubernetes-sigs/sig-windows-tools/issues/61#issuecomment-605008835

[2020-03-29 20:42] neolit123 commented on #63
/triage support

[2020-03-29 20:54] butterfly2sea commented on #63
the windows host is windows server 2019 ,version 1809
![image](https://user-images.githubusercontent.com/17469338/77860537-7dab2e80-7242-11ea-96bb-25111c761f29.png)

[2020-03-30 04:16] ukreddy-erwin opened #64 "Node join issue"
Windows nodes, can't join to network with Calico.
It seems, it is supported only flannel.As the join parameters is asking for flannel details.

And also,
After joining node, if I restart the machine-(windows node). It is not recognizing the node again.
It is not showing the updated status after the machine is restarted.

[2020-03-30 12:10] neolit123 commented on #64
It seems, it is supported only flannel.As the join parameters is asking for flannel details.

hi, yes Calico is not supported for the time being, as AFAIK Calico itself does not support Windows hosts yes. Flannel does.

It is not showing the updated status after the machine is restarted.

for this see:
https://github.com/kubernetes-sigs/sig-windows-tools/issues/52
let's continue the discussion the

[2020-03-30 12:10] #64 closed

[2020-03-30 14:09] benmoss commented on #63
Can you supply logs from the kubelet? They should be in `/var/log/kubelet/`

[2020-03-31 09:20] butterfly2sea commented on #63
I solved my problem by changing the version of docker to ee 18.0

[2020-03-31 09:20] #63 closed

[2020-04-06 14:39] artisticcheese opened #65 "Windows node fail networking connection unexpectedly"
For some reason by Windows node fails to use networking properly. It has been working fine for last 2 weeks. I reinstalled K8 on windows node as well but still fails. `FlannelD` service is in `Stopped` state and failed to start. I'm running 1.17.4.
I have no option to install via `kubadm` due to this https://github.com/kubernetes-sigs/sig-windows-tools/issues/61#issuecomment-605008835

[code]

[2020-04-07 20:50] #65 closed

[2020-04-09 16:06] lippertmarkus commented on #52
Running
[code]
after reboot works for me. All pods are correctly starting up automatically afterwards.
Maybe as a temporary workaround we could add that as a startup task?

[2020-04-10 14:25] #52 closed

[2020-04-11 13:12] artisticcheese commented on #52
`Host` network disappearing for me on reboot even with `docker network create -d nat host`. Not sure how this is keep getting closed?

[2020-04-11 13:18] #50 closed

[2020-04-11 13:42] artisticcheese commented on #52
This breaks name resolution with DNS service. One has to restart `rancher-wins` service to make DNS to work again. But yet again, once you do that DNS starts working but kube-api (`kubernetes`) service stops working. It's just a complete mess.

[2020-04-11 17:58] lippertmarkus commented on #52
@artisticcheese DNS works for me right after restarting my windows node, even without manual restart of `rancher-wins`. Did you recreate your cluster with changes from #66 or at least included the change (the docker network creation command) in `C:\k\StartKubelet.ps1` in your existing cluster?

[2020-04-11 18:02] artisticcheese commented on #52
Yes, I fixed it with manual changed to `StartKubelet.ps1` as you mentioned. Without it restarting rancher fixes DNS but breaks API server.
As of right now
1.18.1 is not compatible with Windows 1909 or 1903 and broken out of the box with Windows 2019. How did it reach stable I don't understand since none of those issues exists with 1.17.4 I've been running before

[2020-04-11 20:23] lippertmarkus commented on #52
@artisticcheese as far as I can see this is only intended for 1809 (Windows Server 2019 LTSC). The docker images of flannel or kube-proxy are based on that.

[2020-04-11 21:41] artisticcheese commented on #52
Yes but 1.17.4 worked fine on SAC channels too. So new version of Kubernetes essentially have less support for newer versions of Windows then old one.

[2020-04-13 14:00] benmoss commented on #52
Please instead of complaining you can volunteer to add 1909 and 1903 support yourself. It should not be very hard, I think it just requires building the kube-proxy and flannel images for those OSes.

[2020-04-19 12:08] nocanstillbb opened #67 "i can't pull kube-proxy-windows & flannel-dns-windows"
[code]
[code]

[2020-04-19 18:02] neolit123 commented on #67
there is no `latest` tag, see:
https://hub.docker.com/r/sigwindowstools/flannel/tags

/triage support

[2020-04-20 08:36] #67 closed

[2020-04-20 10:42] xmapst opened #68 "failed to get default interface: no index found for interface """
kubernetes 1.18.1
docker 19.03.5
[code]

[2020-04-20 14:22] neolit123 commented on #68
hi, what is the windows version?

/triage needs-information

[2020-04-21 01:23] xmapst commented on #68
Microsoft Windows [版本 10.0.17763.1158]

[2020-04-23 02:35] xmapst opened #69 "windowns server 1909 is not work"
Does not support running on the 1909 version system

[2020-04-25 13:32] nocanstillbb commented on #68
[code]

[2020-04-25 13:43] xmapst commented on #68
to no avail

[2020-04-25 13:46] nocanstillbb commented on #61
this question  look like due to interface name have utf8 char
i have a same question
i try to exectute following commands
``
chcp 65001
.\start.ps1 -ManagementIP 192.168.1.221 -NetworkMode overlay  -ClusterCIDR 10.244.0.0/16 -ServiceCIDR 10.96.0.0/12 -KubeDnsServiceIP 10.96.0.10  -LogDir c:\k

``
current powersell windows can executed success,
but the second( start kublecet) & third powershell sti

[2020-04-26 09:44] xmapst opened #71 "Source Vip endpoint creation failed"
[code]

[2020-04-28 14:24] nocanstillbb opened #72 "kubelet service error"
# env
kubernetes version : v1.18.1
windows server 2019 10.0.17763.107

# operation
[code]

#  kubelet log
[code]

[2020-04-28 14:49] neolit123 commented on #72
hi, before you see this error in the kubelet:

does the `.\PrepareNode.ps1` report errors?

a missing `ca.crt` means the node did not join the Linux control-plane properly.

[2020-04-28 14:49] neolit123 commented on #72
/triage support

[2020-04-28 15:13] nocanstillbb commented on #72
[code]

[2020-04-28 15:18] neolit123 commented on #72
does it exit right away after this error?

the code is here:
https://github.com/kubernetes-sigs/sig-windows-tools/blob/master/kubeadm/scripts/PrepareNode.ps1#L56

but to me it seems it should just continue if there is this error if you ran the script multiple times.

[2020-04-28 15:22] nocanstillbb commented on #72
i restart my windows server retry
[code]

[2020-04-28 15:26] nocanstillbb commented on #72
this problem still exit
[code]

[2020-04-28 15:28] neolit123 commented on #72
can you try
- rejoining your worker node with the `kubeadm join....<token>` command?
- check if the file `C:\var\lib\kubelet\etc\kubernetes\pki\ca.crt` is actual there before and after re-join?

[2020-04-28 15:30] nocanstillbb commented on #72
i had try it
[code]

[2020-04-28 15:33] neolit123 commented on #72
[kubelet-start] Please ensure kubelet is reloaded and running manually.

`kubeadm join` cannot start your kubelet service.
you can look at this code on how it's setup and try to start it manually to see if it works outside of `kubeadm join`.

https://github.com/kubernetes-sigs/sig-windows-tools/blob/master/kubeadm/scripts/PrepareNode.ps1

[2020-04-28 16:07] nocanstillbb commented on #72
is time to sleep.
i will check it tommorow
thanks

[2020-04-29 01:46] nocanstillbb commented on #72
[code]
join cluster seccess, but node still not ready,
[code]

coredns's state  error
kube-proxy-windows & kube-flannel-ds-windows-amd64 state is  containercreating  (docker images had download)

[2020-04-29 02:10] neolit123 commented on #72
can you show the logs from `kubectl describe po -n kube-system kube-flannel-ds-windows-amd64-646kj` (or any flannel pod)?

you need to figure out why they are not starting.

[2020-04-29 08:25] nocanstillbb commented on #72
#  kubectl describe po   -n kube-system kube-flannel-ds-windows-amd64-646kj
[code]

[2020-04-29 08:26] nocanstillbb commented on #72
kubectl describe po   -n kube-system `kube-flannel-ds-amd64`-h6wlc
[code]

[2020-04-29 08:38] nocanstillbb commented on #72
error source look like  kube-flannel-ds-windows-amd64  have not volumn

[2020-04-29 12:26] neolit123 commented on #72
i don't understand why flannel is reporting these errors. maybe if you delete it and deploy it again manually it will fix itself.

[2020-04-30 04:19] nocanstillbb commented on #72
i delete pod , ds restart a new  flannel-windows pod
node w1 os is windows server 2019
[code]

[2020-04-30 12:11] neolit123 commented on #72
this means the `pause` image you have is not the same as the host OS.
their versions need to match.

the image is located here and i think it has multiple versions in it (manifest list):
`mcr.microsoft.com/k8s/core/pause:1.2.0`

but i don't know if it has your version.

[2020-04-30 13:08] nocanstillbb commented on #72
which version of  windows's  your script supported?
maybe i can update my windows

[2020-04-30 13:19] neolit123 commented on #72
2019 should be supported.

this error is confusing however, it means the `pause` image is not 2019.

are you nodes the same version?
what is the output of `docker images` on your nodes?

[2020-04-30 13:25] nocanstillbb commented on #72
[code]

[2020-04-30 13:27] neolit123 commented on #72
if you execute `docker run mcr.microsoft.com/k8s/core/pause:1.2.0 /pause` does it work are do you get an error?

[2020-04-30 13:30] nocanstillbb commented on #72
[code]

[2020-04-30 13:32] neolit123 commented on #72
and what is the output of the `ver` command on that host?

[2020-04-30 13:37] nocanstillbb commented on #72
docker host
[code]

hyper v host
[code]

[2020-04-30 13:42] neolit123 commented on #72
your host is version 1809 and as far as i know the only supported version is 2019:
https://en.wikipedia.org/wiki/Windows_10_version_history

sadly we don't have the list of supported versions documented anywhere.

[2020-04-30 13:43] neolit123 commented on #72
see what we are using for our CI tests in GCP:
https://github.com/kubernetes-sigs/sig-windows-tools/blob/master/kubeadm/hack/e2e-cluster-gcp.sh#L104

[2020-04-30 13:54] neolit123 commented on #72
2019 = "Windows Server Core 2019"

[2020-04-30 13:56] nocanstillbb commented on #72
great then or equal  ,   sorry

[2020-04-30 14:01] neolit123 commented on #72
i don't know. you can ask here:
https://kubernetes.slack.com/archives/C0SJ4AFB7/p1588254085114700

[2020-04-30 14:07] nocanstillbb commented on #72
thank!  very helpful to me

[2020-04-30 14:07] #72 closed

[2020-04-30 14:10] neolit123 commented on #72
no problem. we *definitely* need to document what versions are supported, except i personally don't know.

[2020-05-01 04:02] nocanstillbb commented on #72
i checked `mcr.microsoft.com/k8s/core/pause:1.2.0 ` os version
it's os version is win10 17734(1803)
also checkd  mcr.microsoft.com/k8s/core/pause:1.3.0 os version
it's os version is 18362 (1903)

but i can't find  one who match my os (1809/2019)
do you know where can pull the one

[2020-05-01 12:34] neolit123 commented on #72
try mcr.microsoft.com/oss/kubernetes/pause:1.3.0
if it still doesn't have your version you might have to build your own pause image.

[2020-05-01 13:32] nocanstillbb commented on #72
i builed a image from this repository branch "pause"
and have new error infomation
### pod state
[code]
### kube-flanne-ds-windows
[code]
### kube-system kube-proxy-windows
[code]
flannel-ds-window pod log
[code]

[2020-05-01 17:45] neolit123 commented on #72
i don't know my this might happen. try asking in the #sig-windows channel of Kubernetes Slack.

[2020-05-02 01:17] nocanstillbb commented on #72
ok   thanks

[2020-05-02 08:00] nocanstillbb opened #76 "kube-proxy-window state always be containerCreating"
### node ready
[code]
### flannel work well
[code]
### kube-proxy-windows  event
[code]

[2020-05-03 05:51] nocanstillbb commented on #76
### windows node  's kubelet logs
[code]

[2020-05-04 19:49] oe-hbk opened #77 "Windows nodes can't reach service network"
I have the following setup
Windows 2019-1909
Kubernetes 1.18.2
Control Plane: CentOS 7.7 with k8s 1.18.2 built with kubedm
CNI: flannel with vxlan, using the proper vxlan ID and UDP ports for Windows compatibility

I followed PrepareNode.ps1 script here to get the 1909 server ready, but had to build my own kube-proxy and kube-flannel windows images as those don't support 1909.  I had to build the

[2020-05-05 19:23] oe-hbk commented on #77
I found a solution to this, which was to add --ip-masq  arg to flanneld.exe   Is there a reason this wouldn't be the default, when the linux default is to use it?

[2020-05-05 20:12] neolit123 commented on #77
@ksubrmnn @benmoss do you happen to know?

[2020-05-05 21:13] ksubrmnn commented on #77
It was included in the [old scripts](https://github.com/kubernetes-sigs/sig-windows-tools/blob/master/kubeadm/KubeClusterHelper.psm1#L338). Probably just got lost in the new version. Feel free to make a PR with the fix!

[2020-05-06 09:58] #76 closed

[2020-05-06 10:08] nocanstillbb commented on #76
1. get right pause image
[code]
FLANNEL_NETWORK=10.244.0.0/16
FLANNEL_SUBNET=10.244.7.1/24
FLANNEL_MTU=1450
FLANNEL_IPMASQ=true

[code]

[2020-05-06 13:07] oe-hbk commented on #77
Will create a PR.  It seems odd to add to the commandline in the run.ps1.  I will try to find a better way that is similar to the default linux kube-flannel.yml

[2020-05-06 13:33] benmoss commented on #77
Hmm, curious that this hasn't been a problem for us so far. AFAIK service IPs work today, I would guess that this is covered by one of the conformance tests that is passing for us: https://k8s-testgrid.appspot.com/sig-windows#kubeadm-windows-gcp-k8s-stable

[2020-05-07 12:17] xie-qianyue commented on #37
Hello, is this issue solved in the latest version of PrepareNode.ps1? I still have this error:
[code]
after running the latest PrepareNodes.ps1.

I check the HNS network, a cbr0 adapter is already created:
[code]

[2020-05-09 06:30] oe-hbk opened #81 "Remove need to specify --interface to flannel setup"
The --interface argument for flannel setup, which  calls the New-HnsNetwork powershell function does not seem to be necessary.

Should remove this from the flannel config files.   The main kubernetes, https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/   documentation  should also  change to remove the need to modify this argument.

[2020-05-09 07:38] xie-qianyue opened #83 "Flannel fails to watch subnet leases for other nodes in host gateway backend"
I used the latest binaries of kubernetes and the PrepareNodes script.

But I still find logs as `Failed to list *v1.Node: Get https://10.246.44.131:6443/api/v1/nodes?resourceVersion=0: http2: no cached connection was available` in flannel pod. Below is the complet log:

[code]

I posted a comment [here](https://github.com/kubernetes-sigs/sig-windows-tools/issues/37#issuecomment-625219807) under th

[2020-05-11 10:12] xmapst opened #84 "Could not access default Kubernetes Service inside Windows Pod"
Executing ````curl.exe -k https://kubernetes.default.svc.cluster.local``` inside a Windows Pod, but get the following msg:
![{9CC309DC-71A8-4691-BC2C-9581BBBEF50E}_20200511180631](https://user-images.githubusercontent.com/36829716/81549970-2ad0a500-93b2-11ea-8613-95600c1b8106.jpg)
Using Flannel ```VxLan``` mode to create a Cluster with one control plane (via RKE) and one Windows Node (via https://

[2020-05-12 01:25] nocanstillbb commented on #68
did you fix this problem?

[2020-05-12 04:19] nocanstillbb opened #85 "kubelet error A virtual machine or container with the specified identifier does not exist."
### os version
[code]
### docker images version
[code]
### pods status
[code]
### windows kubelet log
[code]
### hnsNetwork
[code]

[2020-05-12 14:01] ruicao93 opened #86 ""--node-ip" param for kubelet is needed to be supported in PrepareNode.ps1"
For windows node with multiple interfaces or multuple IP addresses. It's needed to configure NodeIP used by kubelet in such case.  Currently `PrepareNode.ps1` script does not support configure the Node IP on kubelet. So I think we can add a param in  `PrepareNode.ps1` to support the config.

Kubelet receives ["--node-ip"](https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet) f

[2020-05-12 18:35] Grovespaz opened #88 ""Error response from daemon: network host not found" (with latest docs)"
I've followed all the steps on [this page](https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/) but they don't seem to be up-to-date / correct.
The flannel and kube-proxy containers won't start on Windows.
The flannel container has the following error message:

The kube-proxy container has the following error message:

Kubernetes Version:
v1.18.2

Windows Version:
Win

[2020-05-13 00:35] xmapst commented on #68
Use English version system

[2020-05-13 05:43] lippertmarkus commented on #88
Try to run `docker network create -d nat host`

[2020-05-13 10:08] Grovespaz commented on #88
That does indeed seem to work, until the node is rebooted after which it is needed again.

Is there a step I missed or that's missing from the docs?

[2020-05-13 11:14] Grovespaz commented on #88
Although this gets past this error, there still seems to be a network-related issue. All windows pods crash with exit code -1073741510 which points me towards https://github.com/kubernetes/kubernetes/issues/72696 and https://github.com/microsoft/SDN/issues/298 , but those solutions don't seem to apply.

[2020-05-14 02:12] ruicao93 commented on #86
It seems that `kubelet` will retrive params from file `kubeadm-flags.env` at startup. So I think user can specify the `--node-ip` in this file for the NodeIP config.

By this way we don't need to change the `PrepareNode.ps1` or `StartKubelet.ps1` for this config.

I will close the PR and Issue.

[code]
Here's the content of `kubeadm-flags.env`
[code]

[2020-05-14 02:12] #86 closed

[2020-05-14 06:48] lippertmarkus commented on #88
I fixed this in #66 so if you would start over again with the newest `PrepareNode.ps1` script it should work. If you don't want to start over you could just add the changes of the PR manually to `C:\k\StartKubelet.ps1`.

No clue about the network related issue, maybe the logs of the kube-flannel and kube-proxy containers would help.

[2020-05-14 12:54] Grovespaz commented on #88
Thanks, indeed this is a duplicate of #52 and fixed in #66, thank you.
I'll close this and create a new issue for the current network issues I'm experiencing currently.

[2020-05-14 12:54] #88 closed

[2020-05-17 09:09] #85 closed

[2020-05-17 09:15] nocanstillbb opened #89 "after restart computer, Network flannel.4096 not found"
### description
before restart computer ,windows node run well , kubelet and kube-proxy not print error logs
### kubernetes version v1.18.1
### windows server os version 1809
### kubelet logs
[code]

[2020-05-21 16:11] gimlichael commented on #61
So after reading carefully in this thread (as i have the EXACT same issue as @artisticcheese ), what is the time horizon for 1909 support? I keep wasting my time with these alpha implementations. We now even have Windows 2004, and you guys are still stuck on Windows 1903?

That said .. and given one day it might actually work to have a setup where Windows is supported, you have come a long way; th

[2020-05-21 16:21] neolit123 commented on #61
the response for the time being is that we need community help for adding new images:
https://github.com/kubernetes-sigs/sig-windows-tools/issues/52#issuecomment-612910556

in the meantime i will log a new ticket about fixing the docs in terms of what is supported.

[2020-05-21 16:22] artisticcheese commented on #61
@gimlichael I just stuck with 1903 instead. Too many things are broken in support for 1909. In fact AKS support does not support any SAC channels either.

[2020-05-21 16:24] gimlichael commented on #61
This makes me sad; but thank you for taking time to respond :-)

[2020-05-21 16:25] gimlichael commented on #61
All right - that is a fair deal; can you provide the Docker compose files so i have a starting point to work with?

[2020-05-21 16:28] neolit123 opened #90 "document what versions of Windows are supported"
the users are confused...:
https://github.com/kubernetes-sigs/sig-windows-tools/issues/61
we have other similar tickets here.

AFAIK, this project (kubeadm + sig-windwos_tools) supports 1903 only.

the k8s.io website documentation needs to be _clear_ what versions of Windows we are supporting:
- (ideally a matrix) what versions of Windows our custom flannel / kube-proxy images in this repo support

[2020-05-21 16:29] neolit123 commented on #90
/help

documentation changes can be sent to this page:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/

[2020-05-21 16:31] neolit123 commented on #61
please watch this ticket and you can also help contributing a matrix of supported versions to the docs:
https://github.com/kubernetes-sigs/sig-windows-tools/issues/90

we have Docker files here:
https://github.com/kubernetes-sigs/sig-windows-tools/tree/master/kubeadm/flannel
https://github.com/kubernetes-sigs/sig-windows-tools/tree/master/kubeadm/kube-proxy

and we are using the version of Windows

[2020-05-21 16:31] neolit123 commented on #61
/close

[2020-05-21 16:31] #61 closed

[2020-05-22 01:52] gimlichael commented on #90
**UPDATE FOR 1909 SERVERS**

Just my small contribution to the project; I looked into both having a nanoserver and a servercore version of the two deamon-sets (kube-proxy and flannel).

However, I was only able to get the servercore version to work .. but it is gigantic 5 GB vs. 500 MB in nano-edition .. when I have rested, i think i will look more into it, as it takes forever in overhead to retri

[2020-05-22 01:56] gimlichael commented on #61
@artisticcheese ; if you want to test with 1909, i have created the two deamon-set containers here: https://github.com/kubernetes-sigs/sig-windows-tools/issues/90

[2020-05-22 12:08] artisticcheese commented on #61
@gimlichael I can not use third-party components as part of deliverables, I will wait for official Microsoft images or official support statement. It's not just worth it to invest into this untill official support arrives.

[2020-05-25 18:58] gimlichael opened #91 "Issue with Kubelet calling Flannel flooding error log"
Hi guys,

This is a little difficult to explain, but it stands clear to me what the problem is. I need help to resolve the issue; i simply cannot put the pieces together in the puzzle.

OK.

I have recently, for development and testing purposes, setup a K8S setup running 1.18.3.
Flannel is 0.12. Flannel and Kube-Proxy are the modified Docker images to support Windows 1909. Docker version is 19.03.

[2020-05-26 18:40] gimlichael commented on #91
To those it may concern; a workaround for the above is to run `docker container prune` on each worker node with Windows. Now my log is not being flooded.

I hope this can help anyone with a similar issue :-)

[2020-05-28 07:17] Tehacz commented on #83
Any fix or workaround?

[2020-05-29 00:14] gimlichael commented on #77
I too am having connection issues when assigning a service with type LoadBalancer. I tried your suggested fix with applying ip-masq (`wins cli process run --path /k/flannel/flanneld.exe --args "--ip-masq --kube-subnet-mgr --kubeconfig-file /k/flannel/kubeconfig.yml" --envs "POD_NAME=$env:POD_NAME POD_NAMESPACE=$env:POD_NAMESPACE"`), however i am unsuccessfull in getting it to work.

From my Linux

[2020-05-29 00:17] gimlichael commented on #77
As a workaround, i setup an Ingress for one of the services; then it works fine (i guess it is because ingress is hosted on Linux - and the connection inside the cluster works fine). However, the other ports i have opened up for cannot be assigned to ingress as they are non-http protocols.

[2020-05-29 09:01] Tehacz commented on #90
Does it mean flannel will not work properly on 1809 build?

[2020-05-29 09:16] Tehacz opened #92 "The pods can't reach the network"
Hi,

I have a mixed cluster. The pods on linux machines are working properly but the pods scheduled on windows machine cannot reach outside world. They only can ping themselves and master node IP. They cant reach linux nodes or for example a 8.8.8.8. Dns names are resolved though.

In the flannel 0.12 there is constant error log:
Failed to list *v1.Node: Get https://xxxx:6443/api/v1/nodes?resource

[2020-05-30 15:38] gimlichael commented on #77
As yet another workaround, for non-http protocols, I had to remove the LoadBalancer type and op-in for NodePort. Then i needed to re-configure my router, to translate a normal port to a node-port.

Do note, that the two workarounds is only when talking Windows nodes; Linux nodes works as expected.

I really hope the SIG team will start to investigate these issues further.

Thanks.

[2020-06-01 16:20] oe-hbk commented on #92
Ping (ICMP) will not work from within a windows pod to connect to service IPs (like the DNS server)  To do actual tests against services, you should to  a curl or  Test-NetConnection -Port XX  type of call.

[2020-06-01 16:22] oe-hbk commented on #84
See if this helps you https://github.com/kubernetes-sigs/sig-windows-tools/pull/80

[2020-06-02 01:01] xmapst commented on #84
@oe-hbk no

[2020-06-05 15:53] Tehacz opened #93 "1903 Not working"
Hi i am trying to setup kubernetes cluster on 1903 like in documentation:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/

But i get the following error instead,

I use image: sigwindowstools/flannel:0.12.0

Please help, starting windows cluster is crucial for my company

 Warning  FailedCreatePodSandBox  4s (x4 over 7s)    kubelet, winkube-w2  (combined from simi

[2020-06-05 18:55] WeetA34 commented on #89
Hello
same issue for me with kubernetes 1.18.3 and windows server 1903
Rgds

[2020-06-06 18:01] WeetA34 opened #94 "kube-flannel-ds-windows-amd64 stuck in ContainerCreating state after Windows node reboot"
Hello

i installed a Mixed Kubernetes 1.17.6 cluster with Flannel host-gw (l2bridge) by using flannel-host-gw.yml file.
It worked fine until Windows node reboot.
After reboot, flannel windows pod doesn't start.
It stays in ContainerCreating state.

[code]

kube-proxy windows daemonset pod has been successfully restarted after reboot

Thank you
Regards
Stéphane

[2020-06-07 07:45] lippertmarkus commented on #94
Try running `docker network create -d nat host` on the Windows Node.

To automatically do that on startup, see #66

[2020-06-07 08:09] WeetA34 commented on #94
nat network is already present
[code]

[2020-06-07 08:22] WeetA34 commented on #94
pod is in CrashLoopBackOff
[code]
checking hns endpoint

[2020-06-09 12:24] kkobayachi commented on #89
Hi,
same issue here too kubernetes 1.18.3 and server windows server 1809
tks

[2020-06-09 20:23] keyva commented on #89
Ran in to the same issue. Below is a workaround -

Apparently the HNSNetwork component on the Windows worker node needs to be deleted manually, as its remnants still stay registered on the master node even after deleting the windows worker node from the cluster.

To resolve, here is what was done (after removing worker node from cluster) -

1) On the Windows worker node, run in powershell = _Get-H

[2020-06-09 21:18] kkobayachi commented on #89
Hello,
I did the troubleshooting and diagnosed that the error presented is because after restarting the windows server the nat network interface created "docker network create -d nat host" by the script preparenode.ps1 missing, this appears to be an unresolved windows bug yet.
If the interface is created again, the pods start successfully.

[2020-06-16 14:02] giskou commented on #92
A restart of the flannel pod (just delete the pods that give out this error and the daemon set will recreate it) seems to help.
From what I understand, this only happens if flannel has to create the HCN network, which is removed on a reboot.
On the second run, after the pod restart, the HCN network is already there and everything seems to work.

[2020-06-19 14:41] Stefanbs23 commented on #77
What for me works, if all the pods are up and running on the Windows Node

I do the following

Stop-Service kubelet
Start-Sleep -s 10
Stop-Service docker
Start-Service docker
Start-Service kubelet

Then the hole networking are working, LoadBalancer works, ping in the pods works to al locations.
I'am searching for a good solution ..The same issue i get with the Microsofts docs setup for a node.

[2020-06-19 18:12] ksubrmnn commented on #77
@jocelynberrendonner FYI

[2020-06-19 18:31] JocelynBerrendonner commented on #77
Note that we added a couple of Kube-Proxy fixes for Windows hosts a couple weeks ago that can lead to the symptoms described in this issue:
https://github.com/kubernetes/kubernetes/pull/91886
https://github.com/kubernetes/kubernetes/pull/91706

Can you re-try with a Kube-Proxy version that has these fixes, please?

@sbangari and @Keith-Mange, FYI

[2020-06-20 11:18] Stefanbs23 commented on #77
@JocelynBerrendonner

Today tested with v1.18.4, no difference.

[2020-06-22 15:57] JocelynBerrendonner commented on #77
@Stefanbs23 : Thank you for trying it! Unfortunately v1.18.x don't seem to have these changes. That said, the changes should theoretically be in the next v1.19.x release.

[2020-06-24 04:51] AMoghrabi commented on #90
Hello. I'm currently running 1809. Looks like my flannel pod is running fine but kube-proxy is failing (I'm running K8s 1.16.11).

Will 1809 not work with this setup? Thanks!

[2020-06-24 05:00] AMoghrabi opened #95 "Support for kube-proxy:v1.16.11"
Hello,

Do you provide support for `sigwindowstools/kube-proxy:v1.16.11`? I'm running Windows 1809 and K8s version `1.16.11`. The flannel pods are running fine and my Windows node is in a `Ready` state. However, the pod responsible for the above image is stuck in an `ErrImagePull` state.

Attempting to pull the image on the host leads to this error:

[code]

I've looked at Docker Hub and unfortuna

[2020-06-24 09:18] michaelbeckersgit commented on #89
Hello,

Can somebody please look at this, it has been blocking me for a while now. We cannot work like this, the solution is completely unusable.

[2020-06-24 17:05] AMoghrabi commented on #95
I've reviewed our environment and I think upgrading to 1.17.7 is fine for us, so this isn't urgent by any means. Though if you'd still would like me to contribute & this is possible to do, let me know and I can get started. Thanks!

[2020-07-10 20:10] daschott commented on #52
Just thinking out loud here, would it be possible to make this `host` network of type `l2bridge` or `overlay`? That way it would be persisted across reboot. The script also creates a network of the corresponding type called `External`. Could this (+ any references to its name) simply be renamed to `host`? Has anyone tried this?

[2020-07-13 13:18] ArchiFleKs opened #96 "Kuberntes 1.18.5: Flannel Host-gw, inter POD ok but not NAT"
Hi,

I recently tried to deployed an hybrid cluster, I have a setup with Kubeadm 1.18.5, I have been using this guide:

https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/

I'm running windows server 2019 with the following feature enabled:
- routing
- containers
- remoteaccess

I have deployed flannel and flannel for windows as long as kube-proxy for windows.

Networ

[2020-07-20 09:16] RedBoneZhang opened #97 "Does Docker for Windows Server 2019 support GUI-based applications?"
Question:
Does Docker for Windows Server 2019 support GUI-based applications?

I want to run a GUI application desktop(With a 3d map inside) in windows container at windows server host.

[2020-07-21 18:46] daschott commented on #96
There is no error here in Flannel, it seems like the error is in some powershell script that expects network adapter name to match.

"dns resolution with kube-proxy cluster IP works" => can you elaborate on what you tried here?

Does the following work from the pod?
`curl -useb http://<google_ip_address>`

Can you paste your CNI config file?

[2020-07-22 13:59] ArchiFleKs commented on #83
I have the same issue on windows server 2019

[2020-07-22 15:09] ArchiFleKs commented on #96
Actually is was juste an ICMP issue. It is working fine with `invokewebrequest` and curl :)

I have another issue now, I'm trying to use flannel on windows with 2 network interfaces.

I have a default network interface 0 and an internal one (1). I want internet traffic to go through interface 0 while I  want internal traffic (kubernetes and interpod communication to go through interface 1).

This

[2020-07-22 16:32] daschott commented on #96
Can you elaborate on which network solution was used on Linux to perform this configuration? Is this also on Flannel host-gw mode?

[2020-07-22 16:51] ArchiFleKs commented on #96
Yes it is flannel in host gw more with just « iface-regex » to bind on the right interface. All my node have a kubelet node IP inside the internal network. And route are exchanged on these interfaces.

And nat is still going through the default route which is on the external network

[2020-07-22 16:53] ArchiFleKs commented on #96
I’m really new to HNS on Windows. My guess would be that I need to have both interface into the HNSNetwork created by flannel but I don’t know if that is even possible

[2020-07-23 20:05] keyva commented on #89
/bump

[2020-07-24 04:17] oneoneonepig commented on #89
### How to recreate
1. Follow the guide on [Adding Windows nodes](https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/) provided by Kubernetes Doc
2. Reboot the Windows Node
3. All Pods scheduled on Windows cannot be re-created, stucking at the status **Error**
[code]
### How I fix it
I found out that there is a similar issue https://github.com/kubernetes-sigs/sig-wind

[2020-07-27 06:35] xmapst commented on #71
1

[2020-07-27 06:35] xmapst commented on #69
1

[2020-08-09 07:10] masaeedu commented on #83
@xie-qianyue Do you think the:

message is relevant at all? I'm getting the same problem, and that seems to be the first problematic message in the logs.

[2020-08-09 08:00] masaeedu commented on #83
@ArchiFleKs Sorry to ping you directly, but I noticed that you also opened this issue: https://github.com/kubernetes-sigs/sig-windows-tools/issues/96 where you say that connectivity between Linux and Windows pods was working. Does this mean you managed to figure out a workaround?

[2020-08-09 18:08] ArchiFleKs commented on #83
@masaeedu no worries. I have put the windows part on hold. I have tried two setup. One with a single network card where everything was working and another with two network card on windows when depending on which card was used (one card for the external network and another one for the internal network). If I use the external network for flannel I get the lease issue and internet access but no inter

[2020-08-10 05:56] masaeedu commented on #77
@JocelynBerrendonner Sorry, I'm fairly new to Kubernetes, so I'm probably misunderstanding how this works. Isn't it something about the routing (which afaik is governed by the CNI plugin) or the kube-proxy instance on the *master node* (which is Linux) that would be causing the problem? In other words, isn't the Windows kube-proxy instance only responsible for dealing with services whose pods are

[2020-08-10 05:59] masaeedu commented on #77
Welp, empirically at least I'm wrong. I looked at `kubectl get pods -o wide -n=kube-system` and observed that the kube-proxy instance on Windows was in the state "CrashLoopBackoff". After I deleted the pod and it was rescheduled and entered the running state, name resolution magically started working inside the Windows container.

I guess I need to do more research on how network traffic flows thr

[2020-08-10 16:45] JocelynBerrendonner commented on #77
@masaeedu : this bug indeed tracks a Windows issue and has nothing to do with Linux. Each instance of Kube-Proxy is responsible for plumbing services connectivity on the node it runs on. The problem you describe seems unrelated to this bug. Let's open a different issue to track it!

[2020-08-17 19:55] #58 closed

[2020-08-19 19:56] AMoghrabi commented on #89
Thanks a lot @oneoneonepig !

[2020-08-20 20:04] #56 closed

[2020-08-24 02:20] #62 closed

[2020-08-26 02:41] wyaopeng opened #99 "The pods kube-flannel-ds-windows-amd64 error: failed to get default interface: no index found for interface """
i get a error that  the kube-flannel-ds-windows-amd64 is down

[code]

[2020-08-26 09:51] xunchangguo commented on #83
[code]
i have the same error. it is something wrong?

[2020-08-26 09:53] xunchangguo commented on #92
i have the same error. but still now do not found a solution to this problem

[2020-08-26 20:20] benmoss commented on #95
I think we chose this because 1.17.0 was the first release of kubelet that supported starting `hostNetwork: true` pods that let us bootstrap CNI as pods. https://github.com/kubernetes-sigs/sig-windows-tools/blob/master/kubeadm/hack/publish-kubeproxy.go#L15 is all that would need to change to get the bot to produce the images, but I don't think 1.16.11 kubelet would work.

[2020-08-26 20:26] AMoghrabi commented on #95
Makes sense, thank you!

[2020-08-26 20:26] #95 closed

[2020-08-28 05:59] #99 closed

[2020-09-01 07:02] xunchangguo commented on #68
just on cn windows

[2020-09-05 16:27] llyons opened #100 "windows node trying to pull Linux nginx-ingress controller image"
Hi,  We have a 2 linux, 1 windows node cluster setup.   The linux nodes work and the windows node shows ready from a kubernetes cluster perspective.   However when trying to setup the nginx-ingress controller, the windows node is trying to pull the linux image

Normal   Scheduled  11m                  default-scheduler       Successfully assigned nginx-ingress/nginx-ingress-tr77s to aabrw-kuber03

[2020-09-06 07:11] lippertmarkus commented on #100
The nginx ingress controller only runs on Linux. You need to add the `kubernetes.io/os=linux` `nodeSelector` to Linux-only workloads like this as described in the docs: https://kubernetes.io/docs/setup/production-environment/windows/user-guide-windows-containers/#ensuring-os-specific-workloads-land-on-the-appropriate-container-host

[2020-09-07 08:21] WeetA34 opened #101 "Unable to reach service network (10.96.0.0/12) from windows pods when using vxlan"
Hi,

i followed the installation procedure from https://v1-17.docs.kubernetes.io/docs/setup/production-environment/windows/user-guide-windows-nodes/
I'm able to create pods but they're not able to reach the service network (10.96.0.0/12)
I read that ping doesn't work by design but i'm not able to reach it through Test-NetConnection
I tried different version of docker, windows, kubernetes, flannel

[2020-09-08 07:02] WeetA34 commented on #101
FYI, i have no issue with only 2 nodes (1 linux master and 1 windows worker)

[2020-09-09 09:17] WeetA34 commented on #101
when i curl https://10.96.0.1 from my windows pod (10.244.2.4/8), i see the following trafic on the master node:
[code]

[2020-09-09 09:49] WeetA34 commented on #101
it's supposed to be fixed in 1.18
https://github.com/kubernetes/kubernetes/pull/87792
But i still have the issue with 1.18.8

[2020-09-10 06:02] lippertmarkus commented on #101
@WeetA34 could you try using Windows Server 2019 with february 2020 updates? I remember newer versions did only work sporadically for me.

[2020-09-21 09:42] Lwxiang commented on #68
anyone solve this problem?

[2020-09-21 14:10] Lwxiang commented on #68
I have solved this, in windows server, before you start any service includes docker, set "controll panel" -> "region" -> "administrative" -> "change system locale..." -> check the option "Use Unicode UTF-8 for worldwide language support"
then reboot

it makes the whole system default to be chcp65001

[2020-09-21 16:28] lippertmarkus opened #102 "Flannel CNI doesn't seem to work with ContainerD"
**What happened**: When joining a Windows node with ContainerD and Flannel successfully installed, I get the following error when trying to run workloads:
[code]
Flannel doesn't seem to really watch new subnet leases although the log states it and it doesn't create HNS endpoints.

**What you expected to happen**: Flannel should create HNS endpoints when workloads are scheduled

**How to reproduce

[2020-09-22 17:26] marosset commented on #90
/remove-lifecycle stale

https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#windows-os-version-support has a support table for components built in kubernetes/kubernetes (kubelet, kubeproxy, kubectl, etc)

I can create a table for supported pause images.
Should that get added on k8s.io docs or here?

[2020-09-22 17:45] neolit123 commented on #90
users seem to flow from the k8s.io documentation to here, so it seems better to have it at k8s.io.

[2020-09-25 07:55] #69 closed

[2020-09-25 07:55] #71 closed

[2020-09-27 02:37] xmapst commented on #69
1

[2020-09-28 16:27] marosset commented on #102
@lippertmarkus I am seeing the same behavior as you are here.

I've tested containerd with kubenet/https://github.com/microsoft/windows-container-networking and also with https://github.com/Azure/azure-container-networking/

Let me continue to look into what could be going wrong with contianerd + flannel and also try and find some folks more familiar with flannel on Windows to help take a look.

[2020-09-28 16:42] lippertmarkus commented on #102
Thanks a lot for your help.

[2020-09-30 17:21] marosset commented on #102
@lippertmarkus I was able to get containerd + flannel working using
- ContainerD v1.4.1
- Flanneld v0.12.0 (same as above)
- Flannel from containernetworking/plugins v0.8.7 (same as above)
- sdnoverlay from microsoft/windows-container-networking v0.2.0 (https://github.com/microsoft/windows-container-networking/releases/download/v0.2.0/windows-container-networking-cni-amd64-v0.2.0.zip)

the CNI con

[2020-10-01 14:47] lippertmarkus commented on #102
@marosset Thanks, this works for me. What's the difference between sdnoverlay from https://github.com/microsoft/windows-container-networking/releases/download/v0.2.0/windows-container-networking-cni-amd64-v0.2.0.zip  and winoverlay from https://github.com/containernetworking/plugins/releases/download/v0.8.7/cni-plugins-windows-amd64-v0.8.7.tgz ?

Are there already updated YAML definitions like htt

[2020-10-06 08:13] #81 closed

[2020-10-08 15:17] jonaskello commented on #89
Thanks @oneoneonepig!
Agree that a new release would be really nice. Took me a while to find that this was the problem. Reading github issues it seems to be solved so I was initially really confused. But the script used in the instructions does not include the fix like you say :-).

[2020-10-08 16:23] llyons opened #103 "windows pods are not reachable on a hybrid Linux/ windows cluster"
Hi,

we have a custom "baremetal" K8 cluster with 2 linux nodes and 1 windows node.  Just trying to get familiar with how it works, etc.  We have the nginx ingress controller running and the metalLB loadbalancer running.   Both of the ingress and loadbalancer controllers only run on the linux nodes and master.  They dont run on the windows node (i was told this wasnt needed).   We have deployed a

[2020-10-09 15:23] jsturtevant commented on #103
The issue is that flannel is starting before the external network is created.  The work around is to Restart the Flannel pod.

The network is created and then flannel is started here:

https://github.com/kubernetes-sigs/sig-windows-tools/blob/1f4abb21ff35d68b1b2c5d49eefb2daa05bc98d8/kubeadm/flannel/flannel-overlay.yml#L34-L36

The external network doesn't finish creating before flannel is started

[2020-10-09 15:45] jsturtevant commented on #103
They run in a DaemonSet so you can `kubectl delete pod` or run `kubectl rollout restart daemonset`

[2020-10-09 17:36] llyons commented on #103
so after trying this, it seems like we still have the same core issue.  The windows  simple webapps running on the windows node are not reachable from the linux machines (curl   clusterip,   curl svc ip).  the linux apps on linux nodes are reachable.  The windows container on the windows node can be reached with the windows node IP: port.

The new info in the logs is this.

`Mode                La

[2020-10-09 21:02] llyons commented on #103
One thing I noticed is that our Operating system is 1809  and we have Kubernetes 1.19.2.

Do we need kubernetes 1.18 to make this work?

[2020-10-12 20:37] llyons commented on #101
I believe we have this same issue.   a hybrid cluster with kubernetes 1.19.2   We are able to reach the webapps on the linux node with the service ip or clusterip.   But the pods running on the windows node (which shows as ready and pods / containers running) are not reachable.    We have a couple pods running simple web applications on the windows node and can only get to them via the NODE ip : p

[2020-10-12 22:16] llyons commented on #100
Thanks.  We have this working now.  thanks for the info.

[2020-10-12 22:16] #100 closed

[2020-10-13 19:00] llyons commented on #83
I have the same issue as the above.  hybrid cluster with a linux master, worker node and a windows node.
It seems like this is a common issue.

https://github.com/kubernetes-sigs/sig-windows-tools/issues/103

[2020-10-14 08:55] gotoing opened #104 "windows flannel close snat"
Hi,
Now we need to close the SNAT function of windows flannel,
Do you know how to operate。
Thank you very much！

[2020-10-14 18:01] llyons commented on #103
So we tried to make sure the version of our OS (1809) did not include a September patch that has shown to cause these issues.   That being identified in this issue    https://github.com/microsoft/Windows-Containers/issues/61

after setting this up we restarted the windows node and made sure the pods where back to running and we still have the same issues as before.

Our OS version is now   Microso

[2020-10-14 19:57] vitaliy-leschenko commented on #103
I rolled back my servers (on my test cluster) to 10.0.17763.1294 and can say that all windows pods are reachable after reboot.
[code]
k8s-ws1809-c will wait until fix without reboot to check that fix is working.

[2020-10-14 22:20] jsturtevant commented on #104
This sounds like a flannel configuration question and should be directed at the flannel github repository or relevant support channels for Flannel.

[2020-10-14 22:20] jsturtevant commented on #104
/close

[2020-10-14 22:20] #104 closed

[2020-10-14 22:46] jsturtevant commented on #97
No GUI is supported. Please direct general windows containers questions to https://github.com/microsoft/Windows-Containers/issues

/close

[2020-10-14 22:46] #97 closed

[2020-10-14 22:48] jsturtevant commented on #93
The flannel containers are only currently only built for WS 2019. You can build the image yourself as a temporary work around.

[2020-10-14 22:50] jsturtevant commented on #92
This is a duplicate of #103. Closing this in favor of that issue  which is currently active and has a few work around listed.

/close

[2020-10-14 22:50] #92 closed

[2020-10-14 22:56] jsturtevant commented on #68
@Lwxiang Thanks for the update, this does look like a encoding issue.

/close

[2020-10-14 22:56] #68 closed

[2020-10-14 23:32] llyons commented on #103
another related piece of info.  with this svc (windows app on windows node)

clientportal    LoadBalancer   10.110.61.103   10.243.0.39   80:30875/TCP     8d

I am not able to curl 10.243.0.39 from the linux master but I CAN curl it from the linux worker.  clientportal is one of the apps running on the windows node.

with this service (webapp on linux worker)

frontend        LoadBalancer   10.110

[2020-10-15 16:03] jsturtevant commented on #103
I did some digging on the error messages above and I think there are a few things happening:

##### HNS issue

At C:\k\flannel\hns.psm1:233 char:16

This is happening because you are passing `Ethernet0 2` to to the HNS module. While this should work it is being passed through wins.exe: https://github.com/kubernetes-sigs/sig-windows-tools/blob/1f4abb21ff35d68b1b2c5d49eefb2daa05bc98d8/kubeadm/flanne

[2020-10-15 16:26] jsturtevant commented on #103
/assign

[2020-10-15 16:34] jsturtevant commented on #83
Although the original  post is about host-gw config it looks to be the same error (Flannel creates the network but start to communicate to the api server before things are finished)  as described in: https://github.com/kubernetes-sigs/sig-windows-tools/issues/103#issuecomment-709426828. The work around should be to make sure you create the External Network before starting flannel. Your `Invoke-Hns

[2020-10-15 16:35] jsturtevant commented on #103
looks like the creation of the external network prior was trying to solve this issue but the issue with wins args not parsing properly keeps it around: https://github.com/kubernetes-sigs/sig-windows-tools/issues/37

[2020-10-15 18:42] jsturtevant commented on #103
I got connected from folks that work on wins.exe and they are working on a fix. Will open an PR to update this once we have a new package.

Fyi - for future wins issues from slack conversation:

[2020-10-15 19:45] jsturtevant commented on #101
@WeetA34 can you share the logs of flannel pod?  This could be a duplicate of #103

[2020-10-15 19:49] jsturtevant commented on #96
@ArchiFleKs I am doing some issue clean up on this repository.  It looks like your original issue was resolved. If the second issue is still a problem for you can you open a new issue?  Thanks!

[2020-10-15 19:49] jsturtevant commented on #96
/close

[2020-10-15 19:49] #96 closed

[2020-10-15 19:57] jsturtevant commented on #94
Looks like you have resolved this issue. If your still experiencing issues please open a new one.  Thanks!

/close

[2020-10-15 19:57] #94 closed

[2020-10-15 20:22] jsturtevant commented on #84
@xmapst Could you share the logs of the flannel pod?  It looks like this could be a duplicate of https://github.com/kubernetes-sigs/sig-windows-tools/issues/103#issuecomment-709426828

[2020-10-15 20:56] jsturtevant commented on #83
core flannel issue https://github.com/coreos/flannel/issues/1359;  closing here

/close

[2020-10-15 20:56] #83 closed

[2020-10-15 23:20] jsturtevant commented on #89
Thanks @oneoneonepig!

I've cut a release that includes the restart fix: https://github.com/kubernetes-sigs/sig-windows-tools/releases/tag/v0.1.3

[2020-10-15 23:21] jsturtevant commented on #89
/close

[2020-10-15 23:21] #89 closed

[2020-10-16 13:43] cde0 opened #105 "New-HNSNetwork change IP of the host"
When i run the command:
`New-HNSNetwork -Type Overlay -AddressPrefix "192.168.255.0/30" -Gateway "192.168.255.1" -Name "External" -AdapterName "$((Get-NetAdapter -Physical).Name)" -SubnetPolicies @(@{Type = "VSID"; VSID = 9999; })`
it change the IP of the host to : 169.254.149.216 and subnet Mask to 255.255.0.0

I cannot understand why it changes the IP.

containerd:  github.com/containerd/contain

[2020-10-20 19:01] llyons commented on #103
so we have the latest October CU now installed and we still have the same issue as described above.
Do we know anything else to try?

[2020-10-20 20:03] jsturtevant commented on #103
The Windows update was not the issue here. It is https://github.com/coreos/flannel/issues/1272.

Until Flannel is fixed the wins.exe needs to be updated to be able to create the external networks that have spaces in them like `Ethernet0 2`.

The workaround until Wins.exe or flannel is fixed is to manually create the External network before starting flannel.

[2020-10-21 08:27] vitaliy-leschenko opened #108 "Switch to flannel 0.13.0"
Flannel v0.13.0 was released a week ago.
May be make sense create new version of docker image sigwindowstools/flannel:**0.13.0**

[2020-10-21 20:16] llyons commented on #103
Are there any instructions on how to create the external network before starting flannel?    I did try to rename the ethernet adapter to just ethernet2 and that didnt seem to help fix the issue.

[2020-10-22 00:08] jsturtevant commented on #103
@llyons the setup.exe source is here:  https://github.com/kubernetes-sigs/sig-windows-tools/blob/efb98c3fe813613be2caa82ff4ef7537b534a4ba/kubeadm/flannel/setup.go#L13-L17

and includes the powershell to create the external network:

[code]

Note that will fail if flannel already created a network on the nic, in which case you will need to remove the flannel network.

[2020-10-22 18:15] llyons commented on #103
if we setup our CIDR as 192.168.0.0/16 should we try to (first remove existing) then run those powershell commands to setup network in the range of 192.168.0.0/16 and gateway of 192.168.0.1?

[2020-10-22 18:50] llyons commented on #103
It seems like New-HNSNetwork is not a cmdlet that is found on this windows node.  Get-HNSNetwork was found and worked but New-HNSNetwork is not found.  Any suggestions?

[2020-10-23 16:15] jsturtevant commented on #103
Which cidr are you referring to?  I think you will want you node/pod cider to not overlap with the external metric cidr.  My understanding is this external network is for creating the vswitch which enables the network connectivity via the adapter.  It isn't really needed except for the bug in flannel coreos/flannel#1272.  @ksubrmnn might be able to explain better.

Yes, This should be on a fresh n

[2020-10-23 16:19] jsturtevant opened #110 "Add automation for building kubeadm related containers"
There is currently a github action for building kube-proxy: https://github.com/kubernetes-sigs/sig-windows-tools/blob/master/.github/workflows/kube-proxy.yml

There should be a pipeline for building and publishing flannel images as well.  Should be able to use kube-proxy as an example

[2020-10-23 16:31] vitaliy-leschenko commented on #110
I will try to do it

[2020-10-23 17:34] benmoss commented on #110
Yeah, I think the only reason we didn't do this was because flannel releases once in a blue moon (aka very rarely)

[2020-10-23 19:07] vitaliy-leschenko commented on #110
@jsturtevant please review my PR to fix the issue

[2020-10-23 19:10] llyons commented on #103
I might not have said this properly above

If I have this return from Get-HNSNetwork

[code]

and then this image for my current adapters

![image](https://user-images.githubusercontent.com/1648546/97044028-066c1d80-1539-11eb-96fa-0294110f1072.png)

How would I want to proceed.  Assuming I have the cluster CIDR of 192.168.0.0/16   and  metallb also serving up IP addresses from a pool,  would I do

[2020-10-23 21:03] #91 closed

[2020-10-27 20:29] llyons commented on #77
I am having this same issue   https://github.com/kubernetes-sigs/sig-windows-tools/issues/103

not sure how to resolve this.  I have tried a number of things

[2020-10-28 09:06] #108 closed

[2020-10-30 03:57] fourpastmidnight commented on #61
I have built custom docker images for flannel and kube-proxy, specifically, for Windows Server 2019 2004. I had to update the `flannel-overlay.yml` and `kube-proxy.yml` files to reference my custom-built images. Because I don't have a docker registry set up to which to push these custom images, I also added a line to the yaml files that basically says "Don't pull these images&mdash;they're pre-cre

[2020-10-30 04:10] fourpastmidnight commented on #61
A couple of more questions:

The reason why I questioned about the need  for FlannelD on the node host OS is because in the `KubeClusterHelpers.psm1` script module (and the attendant `KubeCluster.ps1` script), Kubelet, FlannelD _and_ Kube-Proxy are all installed as Windows services. Kubelet and FlannelD are started, then `kubeadm join` is called, then kube-proxy is installed and started.

Now, in

[2020-10-30 05:32] fourpastmidnight commented on #61
OK, I _think_ I've just about got this.

Looking more closely at everything, I think I was right. I don't need to run a local FlannelD service on the node's host OS. That's what the `flannel-overlay.yml` is all about. When Rancher Wins is started, followed by Kubelet, the node shows up on the control plane. Once `kubeadm join` is called, then pods in the `kube-system` namespace are scheduled to ru

[2020-10-30 06:17] fourpastmidnight commented on #61
On a side note, I'm not even seeing `kube-proxy-windows` pod as having been run on my Windows node, despite being "scheduled" on the node. I have an error in the pod, but I see no container on the windows node (even doing `docker container ls -a`), no logs for the pod or container in `c:\var` on the host... So, how do I track down the issue? (Perhaps the container creation failed _very_ early befo

[2020-10-30 06:23] fourpastmidnight commented on #61
Hmm, I wonder if this is the issue...

The `PrepareNode.ps1` scripts use `c:\k` to install things into. The `KubeCluster.ps1` and `KubeClusterHelper.psm1` scripts use `C:\ProgramData\Kubernetes`. And so since I had previously created `c:\k` (when I was attempting unsuccessfully to use `PrepareNode.ps1`), I decided to go ahead and use it as "scratch space" for orchestrating the setup of the node--I

[2020-11-01 22:23] fourpastmidnight opened #114 "Possible incorrect kubelet configuration?"
Using `PrepareNode.ps1` as a template for my own endeavors to allow Windows Server 2019 2004 (10.0.19041.508) to be configured as a Kubernetes worker node, I found that the configuration in this script for running Kubelet resulted in an error.

Now, I originally based some of my scripts on what can be found in `KubeCluster.ps1` and `KubeClusterHelper.psm1`. And in those scripts, the configuration

[2020-11-01 22:47] fourpastmidnight commented on #93
I got this working on Windows Server 2019 2004 (10.0.19041.508). I did as @jsturtevant said. I built my own images. 3, to be exact. I needed to build my own GoLang image, kube-flannel image, and kube-proxy image. You can find my script module at https://github.com/fourpastmidnight/kubewin.

The script module orchestrates all of this&mdash;pulling and building the images, allowing the user to setup

[2020-11-01 22:57] fourpastmidnight opened #115 "This line leaves a trailing " which causes an error"
While attempting to get my Windows Server 2019 2004 (10.0.19041.508) server configured as a Kubernetes node and joined to the cluster, I endured many hardships getting Kubelet to run stably.

One such issue I ran into is the following line:

https://github.com/kubernetes-sigs/sig-windows-tools/blob/1f4abb21ff35d68b1b2c5d49eefb2daa05bc98d8/kubeadm/scripts/PrepareNode.ps1#L68

This line of code leav

[2020-11-01 23:06] fourpastmidnight commented on #93
I should add to the above, with respect to my script module, that if you are NOT using Windows Server 2019 1809, that you should then **only follow steps 1 &ndash; 3** at [Adding Windows nodes | Kubernetes](https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/). Step 4 will be handled by my `New-WindowsKubernetesClusterNode` cmdlet, and obviously, `PrepareNode.ps1` is r

[2020-11-02 17:09] jsturtevant commented on #93
@fourpastmidnight Thanks for following up! Working on adding other image versions in #111.  Are there any improvements in your scripts that could be folded back into the scripts in this repository?

[2020-11-02 17:38] fourpastmidnight commented on #93
I think the biggest thing is that if you're using a version of Windows Server 2019 >1809, you need to build custom docker images based on the version of Windows Server 2019 being used, as many have noted in various GH issues.

So the most important change, here, was modifying `flannel-[overlay|gw-host].yml` (depending on which network type you're using) and `kube-proxy.yml` with the correct image

[2020-11-02 21:59] marosset commented on #115
Hmm,

On a Windows Server 2019 node (10.0.17763.1518) I see the following behavior.

[code]

I wonder if something changed here on Windows Server, version 2004

[2020-11-02 22:04] marosset commented on #115
Also, I don't believe mcr.microsoft.com/oss/kubernetes/pause:1.3.0 has an image that will work on Windows Server, Version 2014.
This should be using mcr.microsoft.com/oss/kubernetes/pause:1.4.1 or later.

Let me file another issue.

[2020-11-02 22:06] marosset opened #116 "PrepareNode.ps1 should use a newer pause image"
mcr.microsoft.com/oss/kubernetes/pause:1.3.0 does not support Windows Server, version 2014
https://github.com/kubernetes-sigs/sig-windows-tools/blob/8f6890d6fc6e36aff229c4a895a958576f297a77/kubeadm/scripts/PrepareNode.ps1#L76

This should be updated to mcr.microsoft.com/oss/kubernetes/pause:1.4.1 (or later)

[2020-11-02 22:07] marosset commented on #115
https://github.com/kubernetes-sigs/sig-windows-tools/issues/116 for the incorrect pause image

[2020-11-02 22:07] marosset commented on #116
/assign

[2020-11-03 14:37] fourpastmidnight commented on #115
Here's the contents `kubeadm-flags.env` file that was present when I started on this endeavor:

[code]

So, after running the code:

https://github.com/kubernetes-sigs/sig-windows-tools/blob/8f6890d6fc6e36aff229c4a895a958576f297a77/kubeadm/scripts/PrepareNode.ps1#L68

you're left with:

[code]

Note the trailing slash. And in `PrepareNode.ps1`, these "trimmed" arguments are stuffed into `$global:k

[2020-11-03 14:40] fourpastmidnight commented on #115
I suppose, alternatively, line 68 could be as follows:

[code]

Or even

[code]

This would _ensure_ that all "wrapping" quotes will be removed.

[2020-11-03 16:50] #116 closed

[2020-11-03 17:35] marosset commented on #115
@fourpastmidnight Either of those work. Would you like to open a PR for this or would you like me to?

[2020-11-03 19:42] fourpastmidnight commented on #115
I can do that. Thanks!

[2020-11-05 19:27] jsturtevant commented on #115
#118 fixed this

/close

[2020-11-05 19:27] #115 closed

[2020-11-05 19:28] jsturtevant commented on #114
What was the error?  Did you have a /var/lib/kubelet/config.yaml file present? I am not sure the behavior if that flag is set and you don't have that file.

[2020-11-05 20:02] fourpastmidnight commented on #114
So neither `KubeClusterHelper.psm1`, `KubeCluster.ps1`, nor `PerpareNode.ps1` copied  a file `/var/lib/kubelet/config.yaml`, so no, it wasn't present. I do see that `KubeClusterHelper.psm1`, when setting up Kubelet, would pass the parameter `--config=/var/lib/kubelet/config.yml`. Now _that_ did produce an error, because `config.yml` couldn't be found. When I changed it to `config.yaml`, Kubelet st

[2020-11-05 23:38] marosset opened #119 "Add DSR support to flannel-overlay and flannel-host-gw deployements"
- win-bridge / sin-overlay support loopbackDSR and this should be enabled if the host has DSR enabled.
- Need to check if SDN plugins support DSR yet.

[2020-11-05 23:38] marosset commented on #119
https://github.com/kubernetes-sigs/sig-windows-tools/pull/112#discussion_r517876284

[2020-11-06 17:57] marosset opened #121 "Add powershell linting/validation CI checks to this project"

[2020-11-06 19:13] jsturtevant opened #123 "Update docker files to use buildx to support multiple Windows OS"
**Is your feature request related to a problem? Please describe.**

Build upon #111 to convert the dockerfiles to use buildx so we can build versions for [supported Windows OS's](https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#windows-os-version-support).  This would solve #93 and #90

References:
pause image: https://github.com/kubernetes/kubernetes/bl

[2020-11-06 23:01] ksubrmnn commented on #119
@daschott Do you know if the SDN CNI plugins have the DSR loopback fix?

[2020-11-07 05:48] daschott commented on #119
No I do not unfortunately. @nagiesek maybe do you know?

[2020-11-07 16:44] vitaliy-leschenko commented on #123
I tried to do it in my repo (https://github.com/vitaliy-leschenko/win-flannel) but it was failed.
![image](https://user-images.githubusercontent.com/12435135/98446834-9ad9a100-2131-11eb-88f6-4e8a72fe9199.png)

I don't understand why it works for `pause` image.

[2020-11-07 21:38] vitaliy-leschenko commented on #123
I did it! @jsturtevant please re-review last changes at #111

[2020-11-08 19:09] vitaliy-leschenko commented on #123
I think this issue requires update kube-proxy too. I can do it after finish PR (#111) with flannel.

[2020-11-09 15:18] vitaliy-leschenko commented on #123
I added kubeproxy images for all windows server versions also in #111.

[2020-11-09 16:03] llyons commented on #103
We where able to determine that in our configuration it looks like metalLB, which provides an IP from a pool, did not have a speaker in the windows node that prevented the IP provisioned from being accessible from outside.

Instead we put the windows containers on the windows node behind a ingress resource and setup a ingress service of type load balancer to handle this.   So in essence we are get

[2020-11-09 21:08] nagiesek commented on #119
win-bridge / win-overlay have settings to enable loopback DSR. the sdnbridge, sdnoverlay do not have this setting.

[2020-11-14 20:37] #84 closed

[2020-11-16 18:30] jayunit100 opened #124 "kubelet patcher script binary patcher thingy"
Was talking to @perithompson today, and we're going to build
a PS1 script that hot patches kubelet.exe.. for iterative development on various
things wed like to try in the kubelet

part 1
- define an optional wget location for where to get kubelet.exe from
- if something new is in the bucket, pull it down

part 2
- define a directory for kube binaries
- have a poll step in the `while true`, for th

[2020-11-18 19:45] marosset commented on #119
For reference SDN plugins are built from https://github.com/microsoft/windows-container-networking

[2020-11-18 22:34] daschott commented on #119
@Keith-Mange FYI this could become an issue in the future reported by users

[2020-11-20 21:05] daschott commented on #119
To clarify the impact of this missing, the case when a pod tries to reach a service VIP with backend that points to itself gets selected, the traffic will be dropped (applies to DSR mode only).

[2020-11-24 08:24] vitaliy-leschenko opened #127 "Communication with services sometimes failed"
**Describe the bug**
Windows pods can't communicate with services if target pod stay on different Windows node.
Maybe this is duplicate of another issues but symptoms are a little bit difference.

Windows pods can communicate with services from pods that run on Linux without any problem.
Linux pods can communicate with services from pods that run on Windows without any problem.

**To Reproduce**
S

[2020-11-26 09:29] vitaliy-leschenko commented on #127
I tried yaml from step 2 on baremetal cluster (1.17.0) created by https://github.com/kubernetes-sigs/sig-windows-tools/blob/master/kubeadm/KubeCluster.ps1 and this issue doesn't reproduced.

[2020-11-27 11:02] vitaliy-leschenko commented on #127
It is truly interesting  but the issue doesn't reproduced on Windows Server 1809 (10.0.17763.1294)

[2020-11-27 17:41] vitaliy-leschenko commented on #127
It is look like a Windows issue.

[2020-11-27 17:52] vitaliy-leschenko opened #128 "Windows node with ContainerD can't run flannel and kubeproxy daemonsets"
**Describe the bug**
Flannel and kube-proxy pods do not start.

**To Reproduce**
1. setup on-premise cluster (v1.19.0) with flannel (vxlan)
 - flannel image: vleschenko/flannel:0.13.0 (it is support WS2004)
 - kubeproxy image: vleschenko/kube-proxy:v1.19.0
2. setup Windows Server Standard 2004
3. [install containerd](https://github.com/kubernetes-sigs/sig-windows-tools/blob/master/kubeadm/scripts/

[2020-11-27 17:56] vitaliy-leschenko commented on #128
@marosset could you help with it?

[2020-11-27 18:53] vitaliy-leschenko commented on #128
After VM reboot in kubelet logs I can see:
[code]
ipconfig:
[code]

[2020-11-30 18:39] marosset commented on #128
I'll take a look

[2020-12-01 13:53] Celthi opened #129 "Crashloopbackoff for flannel-ds-windows pod due to "objectNotFound" error throwed from the powershell script"
**Describe the bug**
The flannel-ds-windows pod met "ObjectNotFound" error when running the `run.ps1` script and failed to join a Windows node into a k8s cluster.

[code]

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
The `Set-Content` will succeed and the Windows machine joins the cluster.
**Kubernetes (please complete the following information):**
 - Windows Server ver

[2020-12-01 19:06] marosset commented on #129
@Celthi Which deployment files are us using for the flannel ds and where are you getting the files from?
Host-gw or overlay and from master or a release?

I would expect https://github.com/kubernetes-sigs/sig-windows-tools/blob/0cfd92a65e8910d9e97507c2f7df79a410cc66d1/kubeadm/flannel/flannel-overlay.yml#L14 to create all of the directories needed for the Set-Content call to succeed.

[2020-12-02 01:24] Celthi commented on #129
@marosset Thanks for the prompt reply. I'm following the page in https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/
So the deployment file is from `kubectl apply -f https://github.com/kubernetes-sigs/sig-windows-tools/releases/latest/download/flannel-overlay.yml`
It seems there is `mkdir -force /host/etc/cni/net.d` in the file, but it still failed.

[2020-12-02 07:31] Celthi commented on #129
@marosset After several trials, I found the cause of this error. There is a shortcut folder named `etc` in the C: disk. The `mkdir -force /host/etc/cni/net.d` fails silently without creating the folder. After deleting the folder shortcut named `etc`. The error is gone. I don't understand the deep reason for this cause. It may be related to the Windows system.
I think for this kind of error, the sc

[2020-12-02 07:31] #129 closed

[2020-12-02 07:55] Celthi commented on #77
I'm having the same issue too.

[2020-12-02 08:00] Celthi opened #130 "PrepareNode.ps1 is not fit to run several times"
**Is your feature request related to a problem? Please describe.**
I was following the page https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/ to run the `PrepareNode.ps1`.  But I failed the first time. After I fix the problem, I tried to run the script again to prepare the node. But now the script won't be able to run due to some settings like the docker network has

[2020-12-02 17:38] #93 closed

[2020-12-03 03:59] Celthi commented on #101
I have issues with 2 nodes (1 Linux master and 1 windows worker).  I cannot reach the service on the Windows worker from the Linux machine. I even cannot access the Windows service through node port. But the pod on Windows is running fine. I'm following the page in https://kubernetes.io/docs/setup/production-environment/windows/user-guide-windows-containers/ . Do you happen to know some tips that

[2020-12-03 05:49] Celthi commented on #77
I'm having the same issue with the master node (Linux, v1.19.3) and worker node (windows v1.19.0)

[2020-12-03 23:42] JocelynBerrendonner commented on #77
@sbangari: heads up

[2020-12-04 10:51] Celthi commented on #77
After I have stopped the `firewalld` , I can access the cluster service in the Linux node from the Windows Node.
This may be the root cause.

[2020-12-05 00:45] daschott commented on #127
Is this still active?

[2020-12-05 04:25] Celthi commented on #77
I cannot reach the service in the Windows node from the Linux node.

[2020-12-05 06:17] vitaliy-leschenko commented on #127
@daschott Yes, it is.

[2020-12-07 07:53] Celthi commented on #101
[code]
Hi @jsturtevant Which pod's log do you think will help for troubleshooting? Could you give some tips so I can try them and update the logs here is you are interested?

[2020-12-07 16:21] jsturtevant commented on #101
@Celthi What is your server version (`cmd /c ver`)?

Could you get the output for:

[code]

They've been running for 4 days so there will be alot of logs.  Either can restart them and capture the logs or look for any errors...

[2020-12-07 17:02] WeetA34 commented on #101
Hello,
sorry for the delay. As it didn't work as expected, i deleted everything.

But it seems i was not clear about the issue i encountered when i read your comments.
Communication issue was from windows pods to service network used for dns resolution, kubernetes api, ...
As i created the cluster for testing Google Agones with Windows, i was not at the step of accessing windows pod from external.

[2020-12-08 06:13] Celthi commented on #101
The output of the `cmd /c ver` is Microsoft Windows [Version 10.0.17763.1282]. I realized that I should use `host-gw` instead of `vxlan` according to  https://kubernetes.io/docs/setup/production-environment/windows/user-guide-windows-containers

After I use `host-gw` and re-create the cluster, the issue is gone. A rookie mistake. Do you happen to know why we should use `host-gw` for network instea

[2020-12-08 14:25] vitaliy-leschenko commented on #128
@marosset I found reason why pod doesn't start: After node restart `nat` network has been removed.
So, I modified StartKubelet.ps1 to recreate it like for docker. Please see this script from PR #132

Now pod starts but use wrong network: nat instead of flannel

[2020-12-08 20:59] marosset commented on #128
@vitaliy-leschenko I wonder if there is a race between when kube-proxy and flannel-ds pod is able to start the flannel service.
On docker machines I observed that flannel would remove NoSchedule taints on machines to allow for other pods like kube-proxy to be scheduled.
I don't remember seeing seeing this behavior on nodes running contianerd.

Most of my experience with containerd is with setting

[2020-12-08 21:02] vitaliy-leschenko commented on #128
flannel pod has the same behaviour for docker and cotnainerd nodes.

[2020-12-08 21:06] marosset commented on #128
If kube-proxy pod is rescheduled after flannel is started does it join the correct (flannel) network?
I'm setting up a new cluster to verify this myself.

I think I remember docker nodes getting joined to the cluster in a NotReady state then the flannel service would update the node's status setting it to Ready but cointainerd nodes would get joined in the Ready state.

[2020-12-08 21:15] vitaliy-leschenko commented on #128
yep. even if kube-proxy (or any other pods) started after flannel it also starts with NAT ip address.

[2020-12-09 20:36] marosset commented on #128
I'm able to repro this.
Still looking at the issue tho...

[2020-12-09 21:01] johan-smits opened #133 "Waiting for CNI file"
**Describe the bug**
When running with AWS EKS cluster and the default CNI it keeps waiting
**To Reproduce**
Steps to reproduce the behavior:
1. https://docs.aws.amazon.com/eks/latest/userguide/windows-support.html
2. `curl -L https://github.com/kubernetes-sigs/sig-windows-tools/releases/latest/download/kube-proxy.yml | sed 's/VERSION/v1.18.12/g' | kubectl apply -f -`
3. I skipped the flanel becau

[2020-12-09 21:26] marosset commented on #133
HI @johan-smits

The kube-proxy.yml deployment file referenced there has some assumptions about how the node was configured baked in that assume this guide was followed https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/#joining-a-windows-worker-node

I have not tried to configure Windows nodes in EKS but you probably need to find some EKS specific guidance for runnin

[2020-12-10 07:12] johan-smits commented on #133
@marosset thanks for the reply, but the node is joined already and working in the cluster. I just don't use flanel.

[2020-12-10 17:57] marosset commented on #133
Hi @johan-smits
There are assumptions beyond just using flannel.

The kube-proxy deployment file referenced in those tutorials assumes that CNI config files are added to /etc/cni/net.d on the node.

https://github.com/kubernetes-sigs/sig-windows-tools/blob/9aa36e43ef71947b263464b3e657e50340769315/kubeadm/kube-proxy/kube-proxy.yml#L14

Another assumption is that  the script assumes the wins service

[2020-12-10 18:09] johan-smits commented on #133
@marosset thanks for the reply, so this kube-proxy is not compatible or you mean the script needs tweaking?

[2020-12-10 18:23] marosset commented on #133
The way this particular deployment file deploys kube-proxy is not compatible.

kube-proxy itself it just a binary that gets released with other binaries and can be found at locations like https://dl.k8s.io/v1.19.5/bin/windows/amd64/kube-proxy.exe

Can you log into one of the Windows nodes in your EKS cluster and check if there is a process named kube-proxy running on the node? A lot of time Window

[2020-12-14 23:59] marosset commented on #128
Sorry for the slow responses here.
I've been digging into this and have a lot more context but do not yet have a solution.

When hostNetwork is true kubelet/dockershim adds the containers to an existing network named `host` and skips CNI specific config (created by https://github.com/kubernetes-sigs/sig-windows-tools/blob/9aa36e43ef71947b263464b3e657e50340769315/kubeadm/scripts/PrepareNode.ps1#L77

[2020-12-15 09:28] xmapst commented on #128
Have you solved it, how did you solve it

[2020-12-15 20:51] jsturtevant commented on #123
/close

[2020-12-15 20:51] #123 closed

[2020-12-21 19:52] jsturtevant commented on #90
#111 added images for the Windows OS (1809, 1903, 1909, 2004) for kube-proxy and flannel images that are built from this repository.

[2020-12-30 06:59] Sirius2016 opened #137 "Windows pod resource cannot access Internet"
Through flannel- overlay.yml Deploy network configuration
Windows pod resource cannot access Internet

Linux and windows mixed environment：
![image](https://user-images.githubusercontent.com/23203953/103335261-6f2ec380-4aaf-11eb-99fd-0d9882149498.png)

kubectl get pods：
![image](https://user-images.githubusercontent.com/23203953/103335218-56261280-4aaf-11eb-9e5b-0d02086a4274.png)

Windows pod reso

[2020-12-30 07:01] Sirius2016 commented on #137
DNS parsing is normal:
![image](https://user-images.githubusercontent.com/23203953/103335412-d0ef2d80-4aaf-11eb-860e-3b291b502557.png)

[2020-12-30 07:48] vitaliy-leschenko commented on #137
@Sirius2016, ping doesn't work. It is known issue. Please try to use curl instead of this:
[code]

[2020-12-30 07:51] Sirius2016 commented on #137
@vitaliy-leschenko
![image](https://user-images.githubusercontent.com/23203953/103337559-bec4bd80-4ab6-11eb-992e-999c22637e04.png)

[2020-12-30 07:52] Sirius2016 commented on #137
@vitaliy-leschenko
windows server version info:
![image](https://user-images.githubusercontent.com/23203953/103337671-04818600-4ab7-11eb-9081-84470bd68d65.png)

[2020-12-30 12:15] vitaliy-leschenko commented on #137
i'm sorry. use curl.exe if you run it from powershell.

[2021-01-06 23:24] sl844 commented on #128
Hi, I am running into a similar issue. Has there been a solution to this yet?

[2021-01-06 23:40] jsturtevant commented on #128
The current way around this is to install your CNI of choice on the node after the prepare script, then you can run kubeproxy as a deamonset.

We are looking into [Windows privileged container support](https://github.com/kubernetes/enhancements/pull/2037) (which comes with host network support). This is a topic for the next sig-windows meeting if you want to join and discuss further: https://docs.

[2021-01-06 23:50] sl844 commented on #128
okay. Thanks I will try that route.

[2021-01-20 21:27] neolit123 opened #138 "kubeadm job on GCE is failing"
**Describe the bug**
the kubeadm job on GCE is failing
https://k8s-testgrid.appspot.com/sig-windows-gce#kubeadm-windows-gcp-k8s-stable

**To Reproduce**
one should have GCE service account and run the scripts locally from the /kubeadm folder in this repo.

**Expected behavior**
the test not to fail.

**Kubernetes (please complete the following information):**
 - Windows Server version: not sure
 -

[2021-01-21 19:13] jsturtevant commented on #110
fixed by #111

[2021-01-21 19:13] #110 closed

[2021-01-23 21:04] jayunit100 opened #139 "Get-NetIPAddress"
**Describe the bug**

Seems like the latest install-containerd.ps1 script prints some stuff about MSFT_NetIPAddress missing, when installing....

.... any hints on why this is needed for bootstrapping containerd?
Also, why is this CNI stuff, in general , needed ? I figured the containerd installer would be standalone, and just start the container runtime up.

.... oddly, it does seem to end with "

[2021-01-28 10:59] TonyNoble opened #141 "Windows pods cannot access hosts on local network"
**Describe the bug**
On a freshly-built cluster with Centos master node and Windows 2019 Core worker nodes, pods started on the worker nodes are unable to connect to hosts on our local network.

**To Reproduce**
Steps to reproduce the behavior:
1. Run windows webserver demo: https://kubernetes.io/docs/setup/production-environment/windows/user-guide-windows-containers/
2. Connect to one of the pods

[2021-01-28 19:21] jsturtevant commented on #141
@TonyNoble Overlay in Windows has a few restrictions: https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#cni-plugins.  If you need that type of routing you can use the host-gw or a different CNI

In particular Flannel overlay node -> pod communication isn't supported.  I believe this means that although you might be able to get a packet to the node it woul

[2021-01-28 19:39] JocelynBerrendonner commented on #141
@TonyNoble, overlay networks on Windows don't allow PODs to communicate with distant hosts on the underlay network (doing this kinda breaks the principle of VXLAN isolation). That said, PODs can communicate with the host they run on provided a Host Route policy is applied (either to the network or to the endpoints). Local communication was enabled to allow Kubernetes health probes to work properly

[2021-01-28 19:47] ag3man opened #142 "PrepareNode.ps1 is not capable of bootstrapping a Windows node properly"
**Describe the bug**
PrepareNode.ps1 is using curl -Lo whereas the default Windows curl using powershell Invoke-Webrequest and does not have curl -Lo capabilities

[code]

ERROR received
[code]

**To Reproduce**
Deploy windows worker node with the following image in AWS and follow h[ttps://kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/ ](https://kubernetes.io/docs/tasks/

[2021-01-28 19:58] neolit123 commented on #142
is this version of Windows Server even supported?
you should ask in #sig-windows on k8s slack.

Invoke-WebRequest is slow:
https://blog.jourdant.me/post/3-ways-to-download-files-with-powershell

you could try creating a wrapper for curl that uses:
Start-BitsTransfer

or just download a compiled CURL.exe that has the full features.

[2021-01-28 20:13] vitaliy-leschenko commented on #142
Windows 10 (or Windows Server 2019+) has build-in tool curl.exe.
At the same time Windows PowerShell has `curl` as alias to Invoke-WebRequest.

[2021-01-28 21:55] ag3man commented on #142
After further testing it looks like curl.exe DOES exist and I am able to use it. I am going to close this myself. I am having other issues bootstrapping, but I can raise another issue.

[2021-01-28 21:55] #142 closed

[2021-02-11 20:13] KanishkT123 opened #143 "Windows Server 2019 Builds and SIG Tools Powershell script incompatibilities"
**Describe the bug**
`latest` is incompatible with Windows Server 2019 Build 1809 but `v0.1.2` appears to work correctly.

**To Reproduce**
Steps to reproduce the behavior:
While working with this repository, we found the following behavior:
1. Set up a Kubernetes control node
2. Connect a Windows Virtual Machine running WS 2019 Build 1809 [Version 10.0.17763.805] as a worker node
3. The `latest`

[2021-02-13 19:36] jaderoliver commented on #128
@vitaliy-leschenko Hi dude, I am have this same problem now with my win server 2019, after restart the machine they report the same error with you, could you show where you change the StartKubelet.ps1, in my case I am using just the containerd wihout docker you know because k8s will not suporte docker.

[2021-02-15 12:46] vitaliy-leschenko commented on #128
@jaderoliver Hi, I have not solved the issue yet.
I'm going to try write scripts to setup containerd as a service instead of run it as a pods.
Maybe it will works better.

[2021-02-16 15:45] sl844 commented on #128
I wasn't able to get it to work too with a manual installation of flannel and daemonset kube-proxy. Although things deployed, I wasn't able to do cross node communication between pods.

[2021-02-16 20:57] jsturtevant commented on #128
@sl844 did you install flannel as a service?  We have seen success with install containerd and flannel as a service: https://github.com/kubernetes-sigs/sig-windows-tools/issues/128#issuecomment-744840966 instead of running them as pods

[2021-02-16 21:19] sl844 commented on #128
I installed it with the command flanneld -- kubeconfig-file=c:\k\config --iface=server_ip --ip-masq=1 --kube-subnet-mgr=1 -v=3.
 Orginally, I had tried to run it following the run script in the flannel yaml file, but I got errors about setting the pod_name and namespace. When I manually set that, it looks for the pod with respect to the pod_name which isn't deployed. Are there steps to installing

[2021-02-16 21:22] daschott commented on #128
@sl844 When running directly on node, you have to set `NODE_NAME` env var instead. For example:
```$env:NODE_NAME=$(hostname).toLower()```

[2021-02-16 21:23] sl844 commented on #128
When I set the environment variable to use node_name it works, but cross node communication between pods don't work. I tried this twice but without using nssm.

[2021-02-16 21:25] daschott commented on #128
What do flannelD logs print out?

[2021-02-16 22:58] sl844 commented on #128
I don't recall it. I will try to set it up as a service and get the logs.

[2021-02-19 15:07] neolit123 commented on #138
the job deployment is now working:
https://k8s-testgrid.appspot.com/sig-windows-releases#kubeadm-windows-gcp-k8s-stable

some conformance test appear to be red, which is not deployer related.

/close

[2021-02-19 15:07] #138 closed

[2021-02-19 21:35] #90 closed

[2021-02-22 22:46] jsturtevant commented on #143
What part of the joining fails? Can you give an error message?

The job https://testgrid.k8s.io/sig-windows-releases#kubeadm-windows-gcp-k8s-stable Is using the `latest` github files and the cluster is coming up.  from the logs:

[code]

The latest images are multi arch so should work on 1809+

[2021-02-22 22:47] #141 closed

[2021-02-23 16:48] jsturtevant commented on #103
/lifecycle frozen

[2021-02-25 19:54] sl844 commented on #128
https://drive.google.com/drive/folders/14G4x-QvtB6fhZ7f0eAD0JwalKEZV29VO
You can find the flannel output, picture of kube-proxy with IP, Picture of pods deployed on windows and also flannel conf in the link above.

Steps:
1. Install-Containerd.ps1
2. Prepare-Node.ps1
3. Install Flannel (1.13.0) using nssm
  - Set NODE_NAME
  - kubeconfig-file=c:\k\config --iface=Server_IP --ip-masq=1 --kube-subnet

[2021-02-25 20:14] daschott commented on #128
@sl844 It looks like the Windows app (signup-web) is attached to NAT network instead of Flannel network. Ie it is using the network that is intended for the daemonsets, not for workloads. This NAT network will not allow for such communication between hosts. Can you switch kubelet over to use the Flannel network config?

[2021-02-25 20:29] sl844 commented on #128
Is the switch the --network-plugin=cni in the StartKubelet.ps1 script? That is already set.

[2021-02-26 19:25] daschott commented on #128
There seems to be another CNI config currently being used pointing to NAT CNI plugin. The CNI config gets pointed to in different places:
ContainerD will point to a CNI config in its `config.toml`
Kubelet has a parameter `cni-conf-dir`

If there are multiple CNI configuration files in the directory, the kubelet uses the configuration file that comes first by name in lexicographic order. The defaul

[2021-02-26 22:28] sl844 commented on #128
You are right, I have two files. One is created by the Install-Container.ps1 script. The other one I followed the run script on flannel.yaml and placed it in there.  By default both containerd and kubelet uses the same directory for cni.

[2021-02-28 20:05] #102 closed

[2021-03-02 18:19] jayunit100 opened #145 "Windows Development Environments for upstream (onboarding project)"
**Is your feature request related to a problem? Please describe.**
Add a recipe to this repo on how to setup a minimal windows cluster w/ a Kind control plane

1) Read https://github.com/kubernetes/community/blob/master/sig-windows/CONTRIBUTING.md
2) start hacking

**Describe the solution you'd like**

normal k8s clusters:
[code]

WINDOWS k8s clusters:
[code]

# overall steps
1) kind create cluste

[2021-03-03 09:26] vitaliy-leschenko commented on #130
/remove-lifecycle stale

[2021-03-05 18:37] daschott commented on #139
Does the machine have the latest cumulative update applied?

[2021-03-10 14:20] TonyNoble commented on #141
Apologies - I hadn't seen that this had updated, for some reason.  Can we re-open?

To clarify, I'm not talking about the pod being able to reach the host, I'm talking about, for example:

* Local k8s cluster running on 10.105.1.1 -> 10.105.1.4 (master + 1 linux and 2 windows worker nodes)
* Local gitlab instance running standalone on 10.105.2.1

The behaviour I'm seeing is:
* Pods running on the

[2021-03-15 15:55] #105 closed

[2021-03-25 15:53] daschott commented on #119
/remove-lifecycle rotten

[2021-03-31 00:48] jayunit100 commented on #145
Next steps @FriedrichWilken will be figuring out how to get Vagrant to run powershell or winRM commands remotely to automate the windows steps !

[2021-03-31 00:49] jayunit100 commented on #145
/assign @FriedrichWilken

[2021-04-01 16:22] perithompson commented on #124
/remove-lifecycle stale

[2021-04-01 16:23] perithompson commented on #124
[code]

[2021-04-01 19:55] FriedrichWilken commented on #145
The image that I am using for the win server 19 vm ([Github](https://github.com/StefanScherer/packer-windows), [Vagrant](https://app.vagrantup.com/StefanScherer/boxes/windows_2019) has removed ssh support and instead uses [winRM](https://github.com/criteo/vagrant-winrm), it says in the githubs readme. The issue is, that winRM can only send commands to the machine but does not answer. This can lead

[2021-04-01 19:56] FriedrichWilken commented on #145
[This](https://github.com/FriedrichWilken/KubernetesOnWindows) is what I have so far.

[2021-04-01 21:11] jsturtevant commented on #145
have you seen: https://github.com/PatrickLang/windows-k8s-lab?

[2021-04-01 22:35] FriedrichWilken commented on #145
Yes, and it gave me some good ideas. But Patrick worked with building a Windows image while I am (for now) trying to archive all only with a vagrantfile. The idea is, that it is easy to look into the vagrantfile to see what is actually going on. It looks like he also stumbled over rebooting Windows from a vagrantfile ("# TODO reboot") between provisioning steps.

[2021-04-01 22:53] marosset commented on #145
Ugh :(
I ran into issues with WinRM and reboots while trying to build our golden images for aks-egnine.
The issue we were facing was that right after installing Hyper-V there was a race between when the WinRM service would start and when Hyper-V would swap out the network interface / adding a vSwitch.

We were able to solve that race by delaying the start of the WinRM service on the machine
https:

[2021-04-01 23:03] FriedrichWilken commented on #145
Oh man, the image building is just too advanced for me right now. I am just getting started. But will look into that repo again when I am ready to learn about that!

[2021-04-04 21:48] #114 closed

[2021-04-05 20:10] #121 closed

[2021-04-07 21:07] FriedrichWilken commented on #145
https://github.com/FriedrichWilken/KubernetesOnWindows
So close.
[code]

[2021-04-19 12:35] FriedrichWilken commented on #145
I think this is now version 1.0. From here on we could create a roadmap for moving to Containerd, Kubernetes 1.21.0 (currently using 1.20.4), modularize CNI and start supporting Ansible and Calico.
Also needs tests for MacOS and Windows.

https://github.com/FriedrichWilken/KubernetesOnWindows

[2021-04-19 22:54] jsturtevant opened #148 "Once 1.21 is fixed we should be able to revert to defaults for kubeproxy"
Revert the PR #147

given this is a breaking change in kube-proxy we should be fixing it in a 1.21 patch release?
to me it seems we should wait for that, instead of toggling off the feature gate.

_Originally posted by @neolit123 in https://github.com/kubernetes-sigs/sig-windows-tools/issues/147#issuecomment-818270182_

[2021-05-01 17:22] #124 closed

[2021-05-04 05:36] #77 closed

[2021-05-04 07:36] #127 closed

[2021-05-07 08:57] #101 closed

[2021-05-08 10:13] jayunit100 commented on #145
tested and working for me.
thanks friedrich !
[code]

[2021-05-09 20:12] #133 closed

[2021-05-13 11:07] joaoestevinho commented on #77
/reopen

Having the same issue on a deployment with flannel vxlan using Kubernetes 1.21 on both the control plane (Linux) and the node (Windows Server Core 2004).

I can send data between Pods in the Windows node but have no connectivity from these pods to to the outside or any service IP hosted in either the Linux or Windows nodes.

[2021-05-24 10:35] vio-f commented on #128
I am having similar issues.
Added the following to `StartKubelet.ps1`
[code]
And wth `flannel` and `kube-proxy` running as daemonsets. They both join the wrong network.

An interesting thing i noticed is if I reschedule `flannel` (i.e. delete the pod), then `flannel` gets the right IP for a second and then swhiches over to the wrong one (NAT?).

I would like to try to run flannel as a service - ca

[2021-05-29 13:23] #137 closed

[2021-06-02 08:10] giskou opened #149 "External HNS network for l2bridge is overlay"
I noticed here:
https://github.com/kubernetes-sigs/sig-windows-tools/blob/004c32f38c58bc4ff31d37191153910ffae2d801/kubeadm/flannel/setup.go#L27
that the External HNS network is of type Overlay always

microsoft/SDN creates it with the same type as the cni type
https://github.com/microsoft/SDN/blob/cdadc571017f48a819f33b466a7fc00e1ad72027/Kubernetes/windows/start-kubelet.ps1#L98

Is that a typo? Ma

[2021-06-21 15:44] jayunit100 opened #152 "Upstream Windows Burrito (evolution of serve_artifacts.go)"
We have a image-builder solution which is windows centric in https://github.com/kubernetes-sigs/image-builder/blob/master/images/capi/hack/serve_artifacts.go

.... Lets get a "full blown" solution driven by a vendor YAML file done this wk in here (or in another github repo) and then titrate it into image builder over time (if they want it), outside of `hack/` if possible .

[2021-06-22 15:08] jayunit100 commented on #152
TBC, IMO this eventually could get donated directly to image-builder, but its main use cases for now are for CAPI based image builder scenarios that we see many customers need to solve - i belive both openshift, tanzu, and other folks are basically hosting a little "artifacts burrito" as part of their on prem solution.

So this just attempts to do that in a way that is synergistic w/ image builder

[2021-06-22 17:03] perithompson commented on #152
/assign

[2021-06-22 18:40] jayunit100 commented on #152
update from today were greenlit to do this from sig-windows, thanks folks... will keep posted on progress here, hope to use in both windows dev envs + capi in someway

[2021-06-25 14:53] vitaliy-leschenko commented on #127
It looks like in 10.0.17763.1999 this issues was fixed. Maybe in one of previous updates but it doesn't matter. Currently we can use latest updates and don't have the issue.

[2021-07-06 01:42] Celthi commented on #130
/remove-lifecycle stale

[2021-07-19 14:47] neolit123 commented on #148
/remove lifecycle-stale

i see https://github.com/kubernetes/kubernetes/pull/101047 merged recently.

[2021-07-19 16:03] marosset commented on #148
/remove-lifecycle stale

[2021-07-21 03:00] sathishc58 opened #156 "KubeCluster.ps1 errors with $Global:InterfaceName doesn't exist"
I am trying to add  Windows Server 2019 as a node to my existing K8S Cluster (runs on CentOS 7)  by following this URL

[https://v1-17.docs.kubernetes.io/docs/setup/production-environment/windows/user-guide-windows-nodes/](url)

I download the sig-windows-tools and executed `'KubeCluster.ps1'` but it failed with the following error

[code]
Output of Get-NetAdapter

[code]

**Expected behavior**
Ku

[2021-07-21 03:37] neolit123 commented on #156
/kind support

[2021-07-21 03:38] neolit123 commented on #156
this logic is failing for you:
https://github.com/kubernetes-sigs/sig-windows-tools/blob/master/kubeadm/KubeClusterHelper.psm1#L124-L132

try using this function to print the loaded config:
https://github.com/kubernetes-sigs/sig-windows-tools/blob/master/kubeadm/KubeClusterHelper.psm1#L157

[2021-07-21 03:40] neolit123 commented on #156
also this documentation might be out of date, compared to what this repository has.
try 1.19+

[2021-07-21 15:39] jsturtevant commented on #156
Please try the newer docs, but in this case it looks like you might have the wrong value for the Adapter Name. Looks like `Ethernet` instead of `Ethernet0`.

[2021-07-21 23:41] sathishc58 commented on #156
Yes you are correct.  I updated the value from `Ethernet` to `Ethernet0` in `KubeCluster.ps1` file which resolved the issue.  Thank you for pointing it out

[2021-07-21 23:41] #156 closed

[2021-07-22 23:57] #143 closed

[2021-07-23 06:40] dfateyev commented on #128
I have faced the same issue as in the previous message: `flannel` initially gets the correct IP, and then falls back to an invalid one from the NAT network. `Kube-proxy-wondows` is started, but also gets an IP from the NAT network. Client PODs can be scheduled, but all of them obtain IPs from NAT.
Tried to separate network configurations for `kubelet` and `containerd`, but without success. With re

[2021-07-23 08:44] vitaliy-leschenko commented on #128
Hi @dfateyev,

before DaemonSets we used this scripts to join Windows node to a cluster.
https://github.com/kubernetes-sigs/sig-windows-tools/blob/master/kubeadm/KubeCluster.ps1
with configs:
https://github.com/kubernetes-sigs/sig-windows-tools/blob/master/kubeadm/v1.16.0/Kubeclusterbridge.json
or
https://github.com/kubernetes-sigs/sig-windows-tools/blob/master/kubeadm/v1.16.0/Kubeclustervxlan.jso

[2021-07-26 18:41] daschott commented on #119
sdnbridge and sdnoverlay have DSR support now which can be enabled in the CNI config through `loopbackDSR:true`. The next CNI release will have the changes.

[2021-07-29 13:41] jeroenlandheer opened #159 "Could not find host mac address for 0.0.0.0"
**Describe the bug**
A clear and concise description of what the bug is.
kube-proxy v1.21.x crashes with the message:

[code]

**To Reproduce**
Steps to reproduce the behavior:
- Upgrade from 1.20.9 to 1.21.0

**Expected behavior**
No error message

**Kubernetes (please complete the following information):**
 - Windows Server version:  Microsoft Windows [Version 10.0.17763.1577] (1809)
 - Kubernet

[2021-07-29 14:27] dfateyev commented on #159
Kube-proxy-windows is broken starting from 1.21.0.
The workaround is to downgrade worker to 1.20: use v1.20.0 in `kube-proxy.yml` and `PrepareNode.ps1` call.

[2021-07-29 15:25] jsturtevant commented on #159
This is tracked in k/k: https://github.com/kubernetes/kubernetes/issues/100966

fixed by https://github.com/kubernetes/kubernetes/pull/101047 with a backport in progress to 1.21: https://github.com/kubernetes/kubernetes/pull/103783

The work around for 1.21 is https://github.com/kubernetes-sigs/sig-windows-tools/pull/147

[2021-07-29 16:15] dfateyev commented on #159
@jsturtevant any chances that the fix will land 1.21.4? (since automatic merge to release-1.21 above is still open)

[2021-08-02 20:38] #139 closed

[2021-08-05 04:18] HimanshuZinzuwadia opened #160 "flannel-overlay.yml"
trying to deploy flannel-overlay.yml gives error kubectl apply -f https://github.com/kubernetes-sigs/sig-windows-tools/blob/master/kubeadm/flannel/flannel-overlay.yml
error: error parsing https://github.com/kubernetes-sigs/sig-windows-tools/blob/master/kubeadm/flannel/flannel-overlay.yml: error converting YAML to JSON: yaml: line 115: mapping values are not allowed in this context.

[2021-08-05 04:23] HimanshuZinzuwadia commented on #160
used wrong URL  should have used raw url

[2021-08-05 04:23] #160 closed

[2021-08-05 08:47] dfateyev commented on #130
/reopen

[2021-08-05 10:29] vitaliy-leschenko commented on #130
/reopen

[2021-08-05 16:15] marosset commented on #130
/reopen

[2021-08-20 21:08] mdavis77 opened #162 "New-HNSNetwork breaks host network settings on 2004 and 20H2"
**Describe the bug**
When we do New-HNSNetwork with a type of overlay or l2bridge, when it drops and recreates the host nic, it loses our static IP settings. It reverts to 169.254.237.x. If we enable DHCP, then it will pick up a DHCP address and work, but we do not have DNS enabled on our backend systems networks.
If I remove the HNS Network, then the IP comes back and the node is back on the netw

[2021-08-30 15:34] neolit123 opened #164 "kubeadm-windows-gcp-k8s-stable is failing due to missing CNI manifest"
the e2e test kubeadm-windows-gcp-k8s-stable is failing
https://k8s-testgrid.appspot.com/sig-windows-gce#kubeadm-windows-gcp-k8s-stable

looking at the logs:
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/kubeadm-windows-gcp-k8s-stable/1432320834025820160

[code]

i'm assuming this is failing at the "apply CNI" stage and since this file is no longer available:
[code]

https://github.com/kubern

[2021-08-31 01:25] jayunit100 opened #165 "MAke burrito base image configurable"
self explanatory, we'd like to have centos or ubuntu or distroless options for it

[2021-08-31 08:22] hxietkg commented on #165
https://github.com/kubernetes-sigs/sig-windows-tools/pull/166

[2021-09-03 10:27] lippertmarkus commented on #128
anybody got this working in the meantime?

[2021-09-04 17:10] #130 closed

[2021-09-07 06:56] dropdeadfu commented on #84
/reopen
I've been experiencing same behavior on EKS downstream (1.19-1.21) without flannel.
Pod-to-pod networking works fine, pods get assigned IP from the VPC through (and they get registered correctly through the vpc-admission-hook). The windows pods are able to resolve service (clusterip) but are not able to connect to endpoints. (currently only tcp endpoints active and tested) The rest of the

[2021-09-07 07:00] dropdeadfu opened #168 "Windows Pod not able to access service endpoints"
/reopen
I've been experiencing same behavior on EKS downstream (1.19-1.21) without flannel.
Pod-to-pod networking works fine, pods get assigned IP from the VPC through (and they get registered correctly through the vpc-admission-hook). The windows pods are able to resolve service (clusterip) but are not able to connect to endpoints. (currently only tcp endpoints active and tested) The rest of the

[2021-09-08 09:54] dropdeadfu commented on #168
Update:
The windows pods can in fact access the kube-system services like kube-dns which leaves me to believe that the hns endpoints are correctly setup by kube-proxy and there is something else blocking the traffic.

[2021-09-09 07:12] dropdeadfu commented on #168
Update:
Tested kube-proxy from 1.22, still no dice.
Currently trying to figure out if the amazon-vpc-cni-plugin is doing something wrong creating the hns-endpoints:
https://github.com/aws/amazon-vpc-cni-plugins/commit/5cc416bb600e43c0b1ebcc8a612d288c401f55ba#diff-b9cb853ad9f132d5413926283d9903474283e8e4ac595c596c15aaa90abdde3c
Painful due to the lack of an actual tool to look how the endpoints are

[2021-09-09 08:08] dropdeadfu commented on #168
Update:
I found that the endpoints get created correctly but https://fossies.org/linux/kubernetes/pkg/proxy/winkernel/proxier.go doesn't apply the policies to them for some reason - it's only able to apply them correctly for the other namespaces

[2021-09-09 08:15] dropdeadfu commented on #168
Update:
it looks more and more like that the calico network policies (which are setup for namespace isolation) are the cause for this

[2021-09-09 08:37] dropdeadfu commented on #168
Update:
confirmed, it is in fact caused by one of the calico policies.

[2021-09-13 11:26] dropdeadfu commented on #168
Update:
found another issue with the calico-agent running on the windows node that resulted in flooding the log with:
2021-09-13 11:15:03.921 [INFO][2260] felix/watchercache.go 186: Failed to perform list of current data during resync ListRoot="/calico/resources/v3/projectcalico.org/kubernetesendpointslices" error=connection is unauthorized: endpointslices.discovery.k8s.io is forbidden: User "syst

[2021-09-13 13:03] dropdeadfu commented on #168
Update:
I could basically verify that the issue is caused by the network-policy for namespace isolation (to be exact, there is an ingress-allow policy with a namespace-selector to refer to the current namespace).
If this is caused by calico itself or a combination with kube-proxy I do not know yet. My gut feeling however is that calico is the culprit.

[2021-09-14 21:06] dropdeadfu commented on #168
The guys over at project calico helped me to find the problem causing the missing policy for the cluster-role. You can find the discussion here: https://github.com/projectcalico/calico/issues/4932

[2021-09-16 16:21] jayunit100 commented on #152
done !

[2021-09-16 16:21] #152 closed

[2021-09-20 06:57] dropdeadfu commented on #168
Update:
I could proof that the issue is a result of the windows node NATing the traffic of the pod instead of just routing it. The rest of the cluster just sees the traffic coming from the IP of the windows node. Currently I work around that by just whitelisting the IP of the node but that blows a large inconvenient hole into the namespace isolation policies.
Latest progress was happening here: ht

[2021-09-20 10:32] knabben opened #169 "Development support for image-builder"
**Is your feature request related to a problem? Please describe.**
In order support the 'sig-windows-dev-tools`  repository and speed up the host bootstrap, we need a ready to-go Kubernetes node created preferably with image-builder using the same scripts as production for development boxes.

**Describe the solution you'd like**
This proposal is to start a few scripts to configure a image-builder

[2021-09-20 10:33] knabben commented on #169
cc @FriedrichWilken @perithompson

[2021-09-21 13:40] jayunit100 commented on #169
talkd to amim, moving to dev-tools since its really specific to that and sig-win-tools is bloated w other things

[2021-09-22 08:48] fredericpougnault commented on #128
Have you check the config file of containerd.

    [plugins."io.containerd.grpc.v1.cri".cni]
      bin_dir = "C:/opt/cni/bin"
      conf_dir = "C:/etc/cni/net.d"
      conf_template = ""
      max_conf_num = 0

max_conf_num is the number of configuration files loaded at startup by containerd, the default value is 1.
You must have the file 0-containerd-nat.json for containerd.
Then you need to have

[2021-09-22 13:27] lippertmarkus commented on #128
@fredericpougnault thanks for the suggestion. I just tried setting `max_conf_num = 0` but I'm still getting
[code]
(like the other people above)

When I then manually create the NAT network with
[code]

[code]

which sounds like it tries to use the NAT network.

[2021-09-22 14:04] FriedrichWilken commented on #128
@knabben is the expert on Calico

[2021-09-28 11:47] ohanedan opened #171 "All pods in node restarting at random times"
I'm trying to create windows node on existing cluster. After applying PrepareNode.ps1 and join cluster with kubeadm, first 10 minutes everything looks fine(kube-proxy and flannel pods up and running, If I deploy a deployment at this time, it works without any problem). After a random time all pods on node restarting. Pods events shows "Pod sandbox changed, it will be killed and re-created.". This

[2021-09-28 12:02] dropdeadfu commented on #168
Does anybody know what the expected behaviour is on a windows node on EKS. Is it expected that the host does NAT the traffic from the pods to the VPC or is that a misconfiguration?

[2021-10-05 10:39] #145 closed

[2021-10-14 13:46] jayunit100 opened #175 "add licenses to burrito files !"
Whoops, we licensed them to `Peri thompson`
![image](https://user-images.githubusercontent.com/826111/137330085-a3a3ce81-d402-49b5-82e5-1007dd2877cb.png)

[2021-10-27 01:03] jayunit100 opened #177 "Add a script for adding shutdown hooks for CNIs"
**Is your feature request related to a problem? Please describe.**
Some CNIs might want to run some shutdown hooks on reboot, which is common after say, windows updates on a kubelet.

**Describe the solution you'd like**
A script that we can curl and then use, say in image-builder, that registers pre shutdown hooks.

[2021-10-30 10:00] #149 closed

[2021-10-31 17:53] HimanshuZinzuwadia commented on #128
Sad to report that even with following all the above and trying various approaches, could not get containerd and flannel to work together.   Ended with same issue as this one. https://issueexplorer.com/issue/kubernetes-sigs/sig-windows-tools/102
Update after ruined weekend.  May be I was close to solution but can't spend anymore cycles.
Conclusion
containerd, microsoft.sdn provided scripts for fla

[2021-11-03 18:17] vitaliy-leschenko opened #181 "Flannel + ContainerD doesn't work on bare metal k8s 1.22+ Windows Server 2022"
**Describe the bug**
After merge (#161) into master I tried it. Quick description: it doesn't work.
Pods can't start with error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
The first problem that I found in `flannel\start.ps1` that powershell command `Copy-Item` doesn't have parameter `-DestinationPath`. I change it to `-Destination`.

The next problem it is we have no permission to

[2021-11-03 18:59] lippertmarkus commented on #181
@vitaliy-leschenko you need to remove NAT CNI config from `C:\etc\cni\net.d` in order to force using Flannel. With that the hostprocess examples work fine for me.

[2021-11-03 22:07] jsturtevant commented on #181
Thanks for trying it out and providing feedback 👍

 those scripts setup additional network files and also add a few additional binaries like wins which are not needed any more.  I've tested these against containerd nodes that were built with image builder: https://github.com/kubernetes-sigs/image-builder/blob/master/docs/book/src/capi/windows/windows.md  @lippertmarkus  Is this how you ended up wi

[2021-11-04 08:27] lippertmarkus commented on #181
I also used `https://github.com/kubernetes-sigs/sig-windows-tools/tree/master/kubeadm` scripts which sets up additional network files leading to that error.

I just published a vagrant setup here: https://github.com/lippertmarkus/vagrant-k8s-win-hostprocess
Probably most interesting for you are the setup scripts:
- controlplane: https://github.com/lippertmarkus/vagrant-k8s-win-hostprocess/blob/mai

[2021-11-04 08:33] lippertmarkus commented on #128
I have published an example Vagrant setup with Hyper-V using Calico and kube-proxy HostProcess pods for Windows nodes: https://github.com/lippertmarkus/vagrant-k8s-win-hostprocess

It's using plain Ubuntu/Windows Server 2022 boxes and the setup scripts are super simple: https://github.com/lippertmarkus/vagrant-k8s-win-hostprocess/tree/main/setup-scripts

Thought that might help you with your setup

[2021-11-04 13:24] vitaliy-leschenko commented on #181
Sure. 1.6.0 beta 1

This line:
https://github.com/kubernetes-sigs/sig-windows-tools/blob/bf507644f5e04cf1621a7a4fe01e70768c96ea91/hostprocess/flannel/flanneld/start.ps1#L5

[code]

As I understand the problem is how to prepare windows node to k8s join.

[2021-11-04 13:30] vitaliy-leschenko commented on #181
I tried to switch to Calico. And after remove `c:\etc\cni\net.d\0-containerd-nat.json` that was created in `Install-Containerd.ps1` script pods started.

[2021-11-04 15:30] jsturtevant commented on #128
@lippertmarkus that's great!  Have you seen the devbox work the sig has been working on? https://github.com/kubernetes-sigs/sig-windows-dev-tools

We have a task to integrate the hostprocess pods https://github.com/kubernetes-sigs/sig-windows-dev-tools/issues/123. Is that something you would be willing to help out with?

CC: @FriedrichWilken @knabben

[2021-11-04 15:42] jsturtevant commented on #181
This annotations should not be needed if you are on k8s 1.22+ (with the alpha feature enabled) and containerd 1.6+.  I would recommend not having them in the config as they would allow a user to bypass any policies you might put in place that check against a the pod specs `securityContext.windowsOptions.hostProcess`

[2021-11-04 15:43] jsturtevant commented on #181
looks like I need to revisit the flannel implementation a bit.  Thanks for all the feedback and glad you got it working with calico!

/assign

[2021-11-05 13:29] vitaliy-leschenko opened #184 "Pods can't be killed normally after Node restart"
**Describe the bug**
Command `kubectl delete pods/%podname%` stucks on deleting pods.
When I try to describe the pods, I see the message:
[code]

**To Reproduce**
1. Deploy new k8s cluster with CRI contaierD and CNI Calico
2. Deploy any pod on windows node
3. Try to delete the pod on windows node

**Expected behavior**
Pods delete without any events.

**Kubernetes (please complete the following in

[2021-11-05 14:35] jsturtevant commented on #184
do you know what caused the `  Normal   SandboxChanged  3m36s             kubelet            Pod sandbox changed, it will be killed and re-created.`?

I don't see this on 2019 or 2022 clusters.  We may need kubelet/containerd logs to see if anything else is wrong for that pod

[2021-11-05 15:13] vitaliy-leschenko commented on #184
Sometimes pods start without network interface after node restart. Maybe when calico is not initialized yet.
After remove pods with --force they creating again, working well and can be removed without any problem.

So, maybe pods can't be deleted because network interface doesn't exists for the pods.

[2021-11-07 20:02] vitaliy-leschenko opened #185 "Can't exec command in HostProcess pods with -it keys"
**Describe the bug**
Can't exec command in HostProcess pods with -it keys

**To Reproduce**
Deploy k8s 1.22.* with cri-containerd 1.6.0+ and hostprocess pods (kube-proxy for example)
[code]

**Expected behavior**
Can exec command with -it keys.

**Kubernetes (please complete the following information):**
 - Windows Server version: 2022
 - Kubernetes Version: 1.22.2
 - CNI: Calico
 - CRI: container

[2021-11-08 18:07] marosset commented on #185
Unfortunately TTY support does not currently work for HostProcess containers.
You should be able to exec in w/ -i (but things like tab completion will not work).
We hope to have this addressed before moving the feature to stable.

[2021-11-08 18:26] jsturtevant commented on #185
This support will go into hcsshim so I created an issue there for tracking the work: https://github.com/microsoft/hcsshim/issues/1221

[2021-11-08 18:26] #185 closed

[2021-11-08 19:50] vitaliy-leschenko commented on #184
I confirm that this issue reproduced after node restart without drain/cordon/uncordon.
The same situation might be after node power fail.

[2021-11-08 19:53] jsturtevant commented on #184
Thanks could you give explicit reproduction steps?  Do you have a mitigation?

[2021-11-09 04:59] sczhh opened #186 "Join the window node network problem"
Please help to see what caused it, and is there any solution?

" kube-flannel-ds-windows-amd64"  logs:
`FATA[2021-11-08T21:55:32-08:00] rpc error: code = Internal desc = could not create IP forward entry: The object already exists. `

"kube-proxy-windows" Event:
`(combined from similar events): Failed to create pod sandbox: rpc error: code = Unknown desc = failed to set up sandbox container "c0e34

[2021-11-10 13:38] claudiubelu commented on #184
Interesting. According to [1], this error occurs on ``sandbox.NetNS.Remove()``, which is after ``c.teardownPodNetwork(ctx, sandbox)``. Going further down, we can see that it's probably not because the Network Namespace is missing, we'd have succeeded in that case. I can say that I haven't encountered this issue when the Pod's namespace is missing when I was trying out [3].

This could use some inv

[2021-11-10 18:34] jsturtevant commented on #186
looks like your Flannel pod may not have set up the network properly.  Is there more to the flannel logs you could share?

[2021-11-10 19:08] vitaliy-leschenko commented on #184
Unfortunately, I don't know how to reproduce it without node restart. But the issue reproduces after every node restart if some pods was running before on the node.

[2021-11-10 22:02] jsturtevant commented on #184
In other implementations with kubelet we have delete all containers, cleaned up all networks, etc. I was hoping this wasn't necessary.  Maybe we can root cause this issue and solve it fully otherwise we can try that approach

[2021-11-11 10:13] vitaliy-leschenko commented on #184
1. setup k8s with 1+ windows nodes
2. run windows pods on the node
3. restart windows node
4. await a few seconds after node restarted and pods increase restarts count.
5. connect to the pod and run `ipconfig`
6. the pod doesn't have any network interfaces but k8s think that it exists because `kubectl get pods` shows ip.

[2021-11-11 10:15] vitaliy-leschenko commented on #184
when you delete broken pods with `--force` key it restarts (because it's part of deployment for example) and works fine.

[2021-11-22 16:08] neolit123 commented on #148
/remove-lifecycle rotten

[2021-12-03 07:03] jeroenlandheer commented on #159
It looks like in the latest release this has been fixed. Thanks :)

[2021-12-03 07:03] #159 closed

[2021-12-15 22:47] jsturtevant commented on #181
Initial issues should be fixed by #194.  lets start a new issue if not.

[2021-12-15 22:47] #181 closed

[2021-12-21 10:34] knabben commented on #169
/close

[2021-12-21 10:34] #169 closed

[2021-12-21 16:39] TBurda opened #198 "Flannel upgrade to latest version"
Hi, we are using kubernetes cluster with windows and linux nodes. Currently we are using Flannel v0.12.0. We would like to upgrade to the latest v0.15.1.

The configuration for Linux version is managed by Flannel and there is no problem with the update. ([https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml](https://raw.githubusercontent.com/coreos/flannel/master/

[2021-12-30 00:28] natejgardner commented on #77
This seems to still be an active problem.

[2022-01-17 11:36] #171 closed

[2022-01-17 22:52] #162 closed

[2022-01-17 23:11] mdavis77 commented on #162
I meant to post in here.  This is definitely a bug in windows.  I verified that server 2022 as a VM does not have this bug and HNS works fine.  This is just a bug in Server 2019 build 2004 and 20H2.

[2022-01-28 10:05] #165 closed

[2022-02-18 23:25] jsturtevant commented on #186
haven't heard back. open another issue if still having trouble.
/close

[2022-02-18 23:26] #186 closed

[2022-02-25 12:38] #168 closed

[2022-02-25 17:35] marosset commented on #177
@jayunit100 / @hxietkg did https://github.com/kubernetes-sigs/sig-windows-tools/pull/178 fully address this issue?

[2022-03-13 15:42] #175 closed

[2022-03-14 05:21] real-zony commented on #68
It's working, thx.

[2022-03-15 16:49] khatrig commented on #128
Was someone able to make Container + (flannel and kubeproxy daemonsets) work?

[2022-03-15 17:43] lippertmarkus commented on #128
Those two ways should work flawlessly:
https://github.com/kubernetes-sigs/sig-windows-dev-tools
https://github.com/lippertmarkus/vagrant-k8s-win-hostprocess

[2022-03-26 06:42] vitaliy-leschenko commented on #184
It looks like calico issue. I have tried to deploy k8s cluster with calico using official calico manual. It has the same issue.

[2022-03-27 18:07] #177 closed

[2022-03-29 18:46] jsturtevant commented on #184
Is there an issue opened in calico?

[2022-03-31 18:19] vitaliy-leschenko commented on #184
@jsturtevant Yes, it is. I opened the same issue in calico repo.

[2022-03-31 18:55] jsturtevant commented on #184
Thank you for cross linking!

[2022-04-21 18:35] #148 closed

[2022-04-22 09:59] godocean commented on #72
@nocanstillbb , I met the same issue as you, error happened when I tried to join windows node into k8s cluster as below:
![image](https://user-images.githubusercontent.com/17870432/164684133-305ed257-01da-4080-a287-3fabf0e21743.png)
could you give some tips? Thank you very much!

[2022-04-28 06:56] gaurav-rafay opened #214 "Containerd pods are using nat 172.28.0.0/16 network instead of flannel 10.244.0.0/16 while adding windows worker"
**Describe the bug**
While adding a windows worker node(I am using containerd with flannel CNI ) , containerd pods are using  nat 172.28.0.0/16 network instead of  flannel  10.244.0.0/16 . I have following question :
1)I cannot figure out why , and , because of using nat , the pods on windows node for eg win-webserver-6485b5485c-87wwb dont have outbound connectivity .
`default        win-webserver

[2022-04-28 06:58] #214 closed

[2022-04-28 07:02] gaurav2721 opened #215 "Containerd pods are using nat 172.28.0.0/16 network instead of flannel 10.244.0.0/16 while adding windows worker"
**Describe the bug**
While adding a windows worker node(I am using containerd with flannel CNI ) , containerd pods are using  nat 172.28.0.0/16 network instead of  flannel  10.244.0.0/16 . I have following question :
1)I cannot figure out why , and , because of using nat , the pods on windows node for eg win-webserver-6485b5485c-87wwb dont have outbound connectivity .
`default        win-webserver

[2022-04-30 19:46] #184 closed

[2022-05-02 16:04] jsturtevant commented on #184
going to leave this closed in favor of https://github.com/projectcalico/calico/issues/5828

[2022-05-03 19:26] jayunit100 opened #217 "docs sharding for super easy to update windows Recipes"
We need a more easy to use and easy to update, less beuracratic, windows-centric way to install and maintain windows nodes, w recipes for people to quickly borrow and use.

- minimize the windows docs in kubernetes.io that arent foundational... i.e. things involving CNIs, external tools, PS1 scripts, and so on
- Add a doc page for all the real world windows use cases
  - windows-image builder
  -

[2022-05-03 19:28] jayunit100 commented on #217
this needs an owner, sig win folks (me, mark, amim, claudio ) can pair with the owner on helping w technical content

[2022-05-03 19:37] knabben commented on #217
As someone mentioned in the call - +1 for the idea of using the CAPI standard project for this: https://rust-lang.github.io/mdBook/

[2022-05-03 19:55] marosset commented on #217
www.kubernetes.io discourages providing documentation (including setup) for third party content.
This means that setup instructions for various things like contianerd, individual CNIs, etc or any solutions that require other tools (like NSSM) are generally rejected.
Unfortunately a lot of the Windows solutions require extra tools or advanced configuration.

In an ideal world each project would be

[2022-05-12 07:32] Fareroo7 opened #218 "PrepareNode script kublet unknown flags"
**Describe the bug**
Unable to start the kubelet service on a windows node.
The generated StartKubelet.ps1 script contains two flags that are marked as deprecated in v1.24.0 and only usable when using docker.

**To Reproduce**
Steps to reproduce the behavior:
Add windows node as describe here: https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/

**Expected behavior**

[2022-05-12 10:02] neolit123 commented on #218
These are 1.24 changes. Which means the PS scripts might have to branch based on the target k8s version.

[2022-05-12 10:33] Fareroo7 commented on #218
Okay I see... but I got everything working with removing the flags and switching to the flannel daemonsets with hostprocess functionality

[2022-05-16 08:37] Parkhost commented on #218
ye the parameter is removed, see: https://github.com/kubernetes/kubernetes/pull/106907

@Fareroo7 How did you solve the network subnet issue?

[2022-05-16 09:06] Fareroo7 commented on #218
@Parkhost can you give me a bit more context?
Not sure what network subnet issue you mean...

[2022-05-16 14:54] Fareroo7 commented on #218
I switch the flannel daemonsets with hostprocess functionality and configured the configmap containing the  cni-conf-containerd.json to (this config should be working if your kube network is 10.96.0.0/12 and flannel network is 10.244.0.0/16, just replace the `{WINDOWS-NODE-IP}`)

[code]

[2022-05-19 13:31] gaurav-rafay commented on #218
Hi @Fareroo7 I was able to run the workloads as shown below , using the cni-conf-containerd.json that you provided above , but when I exec into the pod using "kubectl exec -it -n default win-webserver-644b597cff-2hk9x -- powershell" , I am not able to connect to outside internet( tested by ping google.com) . Could you please help me as to how we can fix this .
[code]

This is the reponse to ipconf

[2022-05-19 14:08] Fareroo7 commented on #218
Hi @gaurav-rafay,
it's a known issue: https://docs.microsoft.com/de-de/virtualization/windowscontainers/kubernetes/common-problems#my-windows-pods-cannot-ping-external-resources

try to use curl instead of the ping, to check network connectivity

[2022-05-19 14:21] gaurav-rafay commented on #218
Hi @Fareroo7 , thnks for the response , even the curl is not working . Please see the response
[code]

[2022-05-20 06:05] Fareroo7 commented on #218
Your windows pod is not able to resolve dns names...
Can you run a nslookup command once inside the pod and once on the windows host?

[2022-05-20 18:04] #198 closed

[2022-05-22 21:25] jonaskello opened #221 "Upgrade to CNI 0.3.0 in Install-Containerd.ps1"
As described in this issue:

https://github.com/microsoft/Windows-Containers/issues/210

CNI 0.2.0 as installed by Install-Containerd.ps1 does not work on Windows Server 2022.

A new version 0.3.0 was therefore released as described here:

https://github.com/microsoft/windows-container-networking/issues/65

Could we have Install-Containerd.ps1 to install 0.3.0 instead of 0.2.0?

[2022-05-23 21:38] jonaskello commented on #128
I've tried flannel + kubeproxy deamonsets using hostprocess containers (containerd 1.6.4) but still no luck. Tried both on Windows Server 2019 and 2022. The error is still as reported above:
[code]

Has anyone gotten flannel working with containerd in any configuration (non-hostprocess containers, hostprocess containers, services)?

[2022-05-24 05:12] lippertmarkus commented on #128
@jonaskello you get a "nat network already exists error", that's different to what OP got. Try to remove the already existing one:
[code]

[2022-05-24 09:03] jonaskello commented on #128
@lippertmarkus Yes you are correct, when we switched to hostprocess it is a different error from OP. Actually we got one step further by deleting the cni config file created by Install-Containerd.ps1 like you do here:

https://github.com/lippertmarkus/vagrant-k8s-win-hostprocess/blob/main/setup-scripts/winworker.ps1#L21

Now flannel and kube-proxy starts and the workload container gives error abou

[2022-05-24 15:08] Fareroo7 opened #222 "hosts file used by another process"
**Describe the bug**
When I try to run the Add-Content command I get the following error:

[code]

**To Reproduce**
start any windows container and run this command in powershell:
`Add-Content -Path 'c:\windows\system32\drivers\etc\hosts' -Value "127.0.0.1 $env:computername"`

**Expected behavior**
being able to modify the hosts file

**Kubernetes (please complete the following information):**
 -

[2022-05-25 05:11] lippertmarkus commented on #222
I think that's intended behavior. You can add additional host entries with `hostAliases`: https://kubernetes.io/docs/tasks/network/customize-hosts-file-for-pods/#adding-additional-entries-with-hostaliases

[2022-05-25 13:51] jonaskello opened #223 "kubeproxy flannel hostprocess 1.23 specifies removed feature gate IPv6DualStack"
When upgrading kubeproxy hostprocess from 1.22 to 1.23 we got this error:

[code]

It seems this line sets `IPv6DualStack ` to false:

https://github.com/kubernetes-sigs/sig-windows-tools/blob/master/hostprocess/flannel/kube-proxy/start.ps1#L64

However this feature gate seems to be completely removed in 1.23:

https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/

I gue

[2022-05-25 18:43] Parkhost commented on #218
@Fareroo7 , think i got the same problem, can't even reach the gateway..

### Windows pod:
[code]

### kubectl get all
[code]

any idea?

[2022-05-25 23:11] marosset commented on #222
I believe this is intended behavior too.

Here is the PR that adds `hostAliases` support for windows - https://github.com/kubernetes/kubernetes/pull/83730
I do see that if there is a /etc/hosts is already being mounted into the container then the kubelet should not try and build a hosts file for the pod
https://github.com/claudiubelu/kubernetes/blob/de4602995b0fc44037b0cc826c2bde61b4bb21a2/pkg/kub

[2022-05-26 19:28] Parkhost commented on #223
Yes, already made a PR:

-  #225

[2022-05-27 11:06] Fareroo7 commented on #222
That makes sense, of course...
I removed the command from my startup script and added `hostAliases` to my deployment YAML and everything is working.
Thanks a lot! 😄

[2022-05-27 11:06] #222 closed

[2022-05-28 07:48] #218 closed

[2022-06-01 17:42] Parkhost commented on #223
you may close this issue as the PR got merged 👍🏻

[2022-06-01 17:46] #223 closed

[2022-06-15 07:04] K31D opened #229 "Kubernetes service paused on Windows Node"
### What happened?

Adding windows nodes failed with "The Http call equal to 'curl -sSL http://localhost:10248/healthz' failed with error: get "http://localhost:10248/healthz": dial tcp [::1]10248: connectex: No connection could be made because the target machine actively refused it

K8s: 1.23.3 with latest containerd (1.5.9) and flannel
Host: WS2019 datacenter with latest CU
Both install-containe

[2022-06-22 17:19] #229 closed

[2022-06-22 17:32] K31D commented on #128
Hi Jonas where you able to make it work, I am facing the same issue with ContainerD and Flannel on Windows Node

[2022-06-23 07:04] jonaskello commented on #128
@K31D Yes we have it working now.

Although it is not possible to run 2019 images on Server 2022 worker nodes but I found out this is a limitation of windows itself.

[2022-06-23 11:49] K31D commented on #128
@jonaskello  may I ask you how or what was the problem ?
Cause I am trying with WS2019+ContainerD 1.5.9 and Flannel (vxlan)

[2022-06-23 13:10] jonaskello commented on #128
@K31D If I recall correctly deleting the CNI config as per my [comment above](https://github.com/kubernetes-sigs/sig-windows-tools/issues/128#issuecomment-1135605935) solved it for us.

[2022-06-24 19:49] jsturtevant commented on #128
@K31D if you are using the hostprocess containers you need to use containerd 1.6+

[2022-06-25 19:23] K31D commented on #128
Thank you @jsturtevant, no they are "regular" containers. Unfortunately, pods are keeping getting the Nat network instead of the Pod Cidr

[2022-06-30 20:56] jsturtevant commented on #128
yea the scripts for containerd had a bug that wasn't fixable with this solution.  The only way to get flannel working with containerd is to run flanneld as a windows service on the host and only configure the flannel network not the nat config that the scripts set up.

There is no reason to only use vxlan here.  in AKS and capz the vms created as Nodes are IaaS VMs.  We have gotten all of the vari

[2022-07-01 15:36] jsturtevant commented on #128
we know this type of installation guide is missing, it has been challenging to create one due to differences in setups/networks and lack of parity for things like privileged containers.  We have discussed as a sig-windows to potentially fill this gap with some tutorials but have limited folks to dedicate to it.

That basics in those scripts you link are essentially still the same as they were 3 ye

[2022-07-01 17:57] jonaskello commented on #128
For anyone interested I made a [gist with the scripts](https://gist.github.com/jonaskello/138d0b00aec844b045ab8f413fcd3a6e) that we have working to install windows worker nodes. We use this on freshly installed WS2019 Core machines. It uses ContainerD and flannel with host process containers.

[2022-07-02 07:33] K31D commented on #128
Thank you again both! You have been very helpful, will try the @jonaskello script

[2022-07-18 04:10] rahulgupta999 opened #235 "Kube Proxy Container on windows fails to bootup"
**Describe the bug**
The kube-proxy host process container fails at boot up as unable to read the kubeconfig.conf
-----------------------
-E0718 04:04:25.643865    2612 server.go:495] "Error running ProxyServer" err="CreateFile C:\\hpc\\/var/lib/kube-proxy/kubeconfig.conf: The system cannot find the path specified."
E0718 04:04:25.643865    2612 run.go:74] "command failed" err="CreateFile C:\\hpc\

[2022-07-18 04:11] rahulgupta999 commented on #235
[](url
[kube-proxy-windows-nrwgd.log](https://github.com/kubernetes-sigs/sig-windows-tools/files/9129385/kube-proxy-windows-nrwgd.log)
)

[2022-07-22 17:47] jsturtevant commented on #217
There are several unofficial guides that could be used as reference:

https://github.com/kubernetes-sigs/sig-windows-tools/issues/128#issuecomment-1135605935
https://github.com/kubernetes-sigs/sig-windows-tools/issues/128#issuecomment-1068271427
https://github.com/kubernetes-sigs/sig-windows-tools/issues/128#issuecomment-1172470841
https://github.com/kubernetes-sigs/sig-windows-tools/issues/128#is

[2022-07-22 17:49] jsturtevant commented on #128
@jonaskello @lippertmarkus We have a need for improving our getting started for windows: https://github.com/kubernetes-sigs/sig-windows-tools/issues/217

Would either of you be interested in helping improve our getting started story with the work you've already done?

[2022-07-23 07:54] lippertmarkus commented on #217
As we already have some content in https://docs.microsoft.com/en-us/virtualization/windowscontainers/quick-start/set-up-environment?tabs=containerd#windows-server-1 may this would be a suitible place?

[2022-07-23 08:12] lippertmarkus commented on #128
@brasmith-ms also created https://github.com/microsoft/Windows-Containers/tree/Main/helpful_tools

I think it would be better to decide on one installation method we want to provide as "official" and then add all features and configuration options to that. I created the containerd-installer because we wanted [an easy way to install containerd](https://github.com/microsoft/Windows-Containers/issues

[2022-08-09 11:05] nagygao opened #237 "flannel:v0.13.0-nanoserver can not be pulled on Windows Server 2022"
**Describe the bug**
flannel:v0.13.0-nanoserver can not be pulled on Windows Server 2022

**To Reproduce**
[code]

**Expected behavior**
It's working on Windows Server 2019

**Kubernetes (please complete the following information):**
 - Windows Server version: 10.0.20348.859
 - Kubernetes Version: 1.24.3
 - CNI: 0.3.0

[2022-08-12 12:19] nagygao commented on #237
Thanks!

I built my own image with lts2022 and it's working!

[2022-08-12 12:19] #237 closed

[2022-08-26 11:41] lippertmarkus commented on #215
@gaurav2721 you need to remove the NAT CNI config from C:\etc\cni\net.d\ for the pods to use the flannel config.

[2022-09-06 08:29] TBurda commented on #215
Hi, I have same problem as @gaurav2721. If I delete files in C:\etc\cni\net.d\ (`Remove-Item C:\etc\cni\net.d\* -Recurse`) then i get error `network is not ready: container runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:Network plugin returns error: cni plugin not initialized`

[2022-09-06 12:21] lippertmarkus commented on #215
you need to only remove the nat CNI config and not all in that directory

[2022-09-06 16:04] TBurda commented on #215
Then I have the same problem as @gaurav2721

[2022-09-08 07:40] rituzzzpilot opened #245 "windows pod error while running flannel hostprocess on windows 2022"
**Describe the bug**
When I deploy windows sample container I got error:
Failed to create pod sandbox: rpc error: code = Unknown desc = failed to setup network for sandbox "7b785a7675d04fb8c0fa9423c344f870ae02dfc635b52f869985c21c73f77d30": plugin type="nat" name="nat" failed (add): hcnCreateNetwork failed in Win32: The object already exists. (0x1392) {"Success":false,"Error":"The object already ex

[2022-10-17 23:20] ghbeta commented on #128
@K31D do you manage to make the cluster work? with script from @jonaskello i get an error from kube-proxy-windows pod due to missing cni configuration, the crictl info also report missing configuration. maybe i am missing something here

[2022-10-19 08:05] #245 closed

[2022-10-19 08:06] rituzzzpilot commented on #245
Resolve by delete 0-containerd-nat.json and migrate to chi 0.3.0

[2022-10-19 22:58] #221 closed

[2022-10-31 14:47] Krishnankk commented on #128
@K31D @ghbeta
Hi,
I have followed the script of @jonaskello and my windows worker node successfully connected to the linux master (CentOS7). pods are successfully running in the cluster. but i am not able to access via NodePort service. connection is refusing.

Any idea ?

[2022-11-03 06:36] pradeep-hegde opened #249 "kube-proxy hostprocess container fails with error 'hcnCreateNetwork failed in Win32: The parameter is incorrect'"
**Describe the bug**
kube-proxy is failing to come up with the mentioned error. CNI pods are also failing to create a network.

kube-proxy events:
[code]

Calico pod events:
[code]

Containers are not created in windows node
[code]

**To Reproduce**
Steps to reproduce the behavior:
Followed the updated doc from PR #239 and observed this issue.

**Expected behavior**
Calico/Flannel and kube-proxy p

[2022-11-03 09:28] fabi200123 commented on #249
Containerd version 1.4.1 has reached **End of Life status**. You can check the releases and the kubernetes support for containerd [here](https://github.com/containerd/containerd/blob/main/RELEASES.md).

[2022-11-09 15:15] dilipnd opened #250 "Windows pod is not reachable"
**Describe the bug**
I am setting up a cluster with linux and windows nodes. Windows node is not reachable from outside.

**Kubernetes (please complete the following information):**
 - Windows Server version: Windows Server 2019
 - Kubernetes Version: 1.25.0
 - CNI: flannel

**Additional context**
`kubectl get pods -o wide
default        win-webserver-68c7c759c8-p8s5v

[2022-11-10 14:57] fabi200123 commented on #249
Can you please write the steps you followed? I cannot get this error. And did you used the correct files from #239 to install containerd, kubeadm and kubelet?

[2022-11-12 08:26] dilipnd commented on #249
I tried with this environment also. But now, Iam getting different issue.
Environment:
Windows Server version: Windows Server 2019
Kubernetes Version: 1.24.7
CRI: containerd://1.6.8
CNI: Calico (sigwindowstools/calico-node:v3.20.0-hostprocess)
kube-proxy: sigwindowstools/calico-install:v3.20.0-hostproces

[code]

[code]
In windows machine C:\C folder is empty.

Also please see the kube-proxy logs

[2022-11-12 09:17] Mik4sa opened #251 "Create flannel image for Windows Server 2022"
In addition to #237 please create a new git tag so we can use the official images.
When I added the support 2022 months back with #205 I assumed that the images get created/updated soon.

I'm going to need the images in some weeks again and I would like to use the official ones.

PS: Is it possible that you update the v0.13.0 too?

@vitaliy-leschenko Is this something you can do?

[2022-11-14 11:45] dilipnd commented on #249
I am able to solve the above error with below step
[code]

[code]
[code]

Now Iam able to deploy and apps are successfully running in windows node. But, pod to pod connectivity is not happening. I cant access my app from a service running on linux node. I can access my windows app only using nodeport of windows app service. @fabi200123  Do we need to do any extra step for this.

[2022-11-16 09:35] dilipnd commented on #249
@pradeep-hegde  Could you please share the linux calico yaml that was used. I am facing the below error. I think this is the reason for no pod to pod connectivity..
[code]

[2022-11-16 09:42] fabi200123 commented on #249
@dilipnd when you started the control-plane node, did you used this command `kubeadm init --control-plane-endpoint=<your-ip> --pod-network-cidr=<10.244.0.0/16>`?
Note: The last ip can be modified as long as you modify it in the kube-flannel or calico yaml file

[2022-11-21 16:37] dilipnd commented on #249
I was able to solve this issue by turning off BGP in the linux calico yaml. refered https://docs.projectcalico.org/getting-started/kubernetes/installation/config-options

Now I need to manually edit the server ip and port in the file **'C:\etc\cni\net.d\calico-kubeconfig'**
Is this expected? If I add this manually it works fine. But after every node restart, i have to do this.
Can this be solved?

[2022-11-22 18:16] jsturtevant commented on #217
/remove-lifecycle rotten
 /remove-lifecycle stale

being worked on #239

[2022-11-22 23:35] DanSibbernsen commented on #128
For anyone having a similar issue while running containerd and using `host-gw` flannel, I found that restarting the box will cause the `containerd` network to drop out of scope. This can be remedied with these 2 steps:

1. `New-HnsNetwork -Type NAT -Name nat `  - create the missing network, as NAT is somehow deleted during reboot
2. `Get-HnsEndpoint | ? { $_.Name -eq 'cbr0_ep' } | Remove-HnsEndpoi